include /include/elements/captcha/captcha

mixin forgotPasswordPopup
	+b#popup_forgot_password.popup
		+e.overlay
		+e.body._sm
			+b.icon.__close(href="#")
				include /assets/images/md/crossIcon.svg
			+e.content
				+e.title Восстановление пароля
				+b.FORM.form
					+e.row
						+b.input._lg
							+e.INPUT.field(type='text', placeholder='Адрес e-mail', required)
					+e.row
						+captcha
					+e.row
						+b.input._lg
							+e.INPUT.field(type='text', placeholder='Код с картинки', required)
					+e.footer
						+b.button._lg._blue(href="profile.html") Восстановить
