include /include/blocks/common/giftContent/giftContent
include /mobile/include/blocks/catalogItem/grid/catalogGridItem

mixin giftPopper
	+b#popper_gift.popper
		+e.overlay
		+e.body
			+e.handler
			+b.icon._lg.__close(href="#")
				include /assets/images/lg/crossIcon.svg
			+b.__content
				+b.__wrapper
					+giftContent
			+bottomButton._popup
				+b.button._lg._white(href='#') Нет, спасибо
