include /include/blocks/catalogItem/catalogItem

+b.catalogContent
	+e.box.box
		if (view !== 'mobile')
			+e.left
				+b.__menu
					+b.__item
						+b.__link(href='#')
							+e.name Кубки с Российской символикой
							+b.icon._sm.__icon
								include /assets/images/arrowIcon.svg
					+b.__item._active
						+b.__link(href='#')
							+e.name Стеклянные
							+b.icon._sm.__icon
								include /assets/images/arrowIcon.svg
						+b.__submenu
							+e.item(href='#') Классические
							+e.item._active(href='#') Спортивные
							+e.item(href='#') С местом под вкладыш
					+b.__item
						+b.__link(href='#')
							+e.name Спорт товары
					+b.__item
						+b.__link(href='#')
							+e Кубки с Российской символикой
					+b.__title Аксессуары
					+b.__item
						+b.__link(href='#')
							+e.name Крышки для кубков
					+b.__item
						+b.__link(href='#')
							+e.name Эмблемы
					+b.__item
						+b.__link(href='#')
							+e.name Таблички
		+e.right
			+b.__items(class=`_${catalogView}`)
				+catalogItem
				+catalogItem
				+catalogItem
				+catalogItem
				+catalogItem
				+catalogItem
				+catalogItem
				+catalogItem
			+b.__pagination
				if (view !== 'mobile')
					+b.button._white.__more Загрузить ещё
					+b.__pages
						+e.item(href='#') 1
						+e.item._active(href='#') 2
						+e.item(href='#') 3
						+e.item(href='#') ...
						+e.item(href='#') 9
						+e.item(href='#') 10
				else
					+b.button._gray._xl.__more Загрузить ещё
			if (view !== 'mobile')
				+b.__popularKeywords
					+e.title Часто ищут
					+b.__items
						+e.item(href='#') Кубки для соревнований
						+e.item(href='#') Кубки для соревнований
						+e.item(href='#') Кубки для соревнований
						+e.item(href='#') Кубки для соревнований
						+e.item(href='#') Кубки для соревнований
						+e.item(href='#') Кубки для соревнований
