include /desktop/include/blocks/catalogItem/grid/catalogGridItem

mixin productList(title)
	+b.productList&attributes(attributes)
		div.box
			+e.title #{title}
			+b.__swiper.swiper-container
				+b.swiper-wrapper
					+catalogGridItem(false, Math.random() > 0.5).swiper-slide
					+catalogGridItem(false, Math.random() > 0.5).swiper-slide
					+catalogGridItem(false, Math.random() > 0.5).swiper-slide
					+catalogGridItem(false, Math.random() > 0.5).swiper-slide
					+catalogGridItem(false, Math.random() > 0.5).swiper-slide
					+catalogGridItem(false, Math.random() > 0.5).swiper-slide
				+b.swiper-prev(href="#")
					include /assets/images/xl/shevronIcon.svg
				+b.swiper-next(href="#")
					include /assets/images/xl/shevronIcon.svg
