+b.topBar
	+b.__top
		+e.box.box
			+b.__menu
				+e.item._active(href='#') Награды
				+e.item(href='#') Подарки
				+e.item(href='#') Сувениры
				+e.item(href='#') Спорт.товары
				+e.item(href='#') Вышивка
			+b.__breadcrumbs
				+b.button._sm._gray(href='/')
					+b.icon._sm
						include /assets/images/homeIcon.svg
				+e.shevron
					include /assets/images/shevronIcon.svg
				+e.item(href='#') Кубки
				+e.shevron
					include /assets/images/shevronIcon.svg
				+e.item(href='#') Металлические кубки
				+e.shevron
					include /assets/images/shevronIcon.svg
				+e.item Кубок B368-3, высота 36 см
	+b.__subMenu
		+e.box.box
			+b.__items
				+b.__item._cat1._active(href='#')
					+e.img(src='images/categoryIcon1.png')
					+e.name Кубки
				+b.__item._cat2(href='#')
					+e.img(src='images/categoryIcon2.png')
					+e.name Медали
				+b.__item._cat3(href='#')
					+e.img(src='images/categoryIcon3.png')
					+e.name Медали из акрила
				+b.__item._cat4(href='#')
					+e.img(src='images/categoryIcon4.png')
					+e.name Литые статуэтки
				+b.__item._cat5(href='#')
					+e.img(src='images/categoryIcon5.png')
					+e.name Пластиковые фигурки
				+b.__item._cat6(href='#')
					+e.img(src='images/categoryIcon6.png')
					+e.name Призы из акрила
				+b.__item._cat7(href='#')
					+e.img(src='images/categoryIcon7.png')
					+e.name Деревянные награды
				+b.__item._cat8(href='#')
					+e.img(src='images/categoryIcon8.png')
					+e.name Стеклянные награды
			+b.__more(href='#')
				include /assets/images/moreIcon.svg
