.topBar {
	&__top {
		@apply bg-gray-border-light
        filter drop-shadow;

		&__box {
			@apply flex
            justify-between
            items-center;
		}

		&__menu {
			@apply bg-transparent
            w-auto
            border-0
            space-x-10;

			&__item {
				@apply mx-0
                px-0
                text-gray-light
                hover:text-black;

				&_active {
					@apply font-normal
                        text-black;
				}
			}
		}

		&__breadcrumbs {
			@apply hidden
            items-center
            space-x-2
            text-gray-light
            lg:flex;

			&__home {
				@apply text-gray-light;
			}

			&__item {
				@apply text-gray-light
                truncate
                max-w-word
                last:text-black;
			}
		}
	}

	&__subMenu {
		@apply mt-8;

		&__swiper {
			@apply rounded
                -my-1
                -ml-1
                p-1
                pr-18;

			&__wrapper {
				&__item {
					@apply flex
                    items-center
                    p-2
                    border
                    border-light
                    rounded;

					&:hover {
						@apply border-yellow;
					}

                    &_active{
                        @apply
                        border-yellow
                        ring-1
                        ring-yellow;
                    }

                    &__img {
						@apply h-9
                        w-10
                        object-contain;
					}

					&__name {
						@apply
						flex-1
						text-sm
                        font-medium
                        word-break-words
                        ml-2;
					}
				}
			}

			&__next {
				@apply
                    inset-y-1
                    h-auto
                    transform-none
                    w-topBarNext;
			}
		}
	}
}
