extends /mobile/layout/layout
include /include/blocks/common/callback/callback

block append pageVars
	- var pageTitle = "Восстановление пароля";
	- var pageClass = "forgotPasswordMessage";
	- var hideFooter = true;

block content
	+e.box.box
		+e.text
			| Новый пароль выслан на Ваш
			br
			| e-mail
		+callback
		+b.button._lg._blue.__button(href='login.html') Вход
