extends /mobile/layout/layout
include /include/elements/avatar/avatar
include /include/elements/bottomButton/bottomButton
include /include/blocks/common/pageHead/pageHead
include /include/blocks/profile/orderItem/orderItem
include /mobile/include/blocks/compositionItem/compositionItem
include /mobile/include/blocks/catalogItem/table/catalogTableItem

block append pageVars
	- var pageTitle = "История заказов";
	- var pageClass = "profileOrders";
	- var hideFooter = true;

block content
	+pageHead('История заказов', 'profile.html')._profile.__head
		+e.right
			+b.icon._xl
				include /assets/images/xl/bagIcon.svg
	.box
		+b.tabs._blue
			+b.__buttons
				+e.item._active(data-tab='orders') Заказы
				+e.item(data-tab='products') Товары
			+b.__content
				+e.item._active(data-content-tab='orders')
					+b.profileOrders__orders
						+orderItem
						+orderItem._gray
						+orderItem._red
						+orderItem._blue
						+orderItem
						+orderItem._gray
						+orderItem._red
						+orderItem._blue
				+e.item(data-content-tab='products')
					+b.profileOrders__products
						+b.__buttons
							+b.button._lightGray.__button(href='#popup_categories')
								+e.icon
									include /assets/images/lg/shevronBottomIcon.svg
								+e.text Все категории
							+b.button._lightGray.__button(href='#popup_filters')
								+e.icon
									include /assets/images/lg/filterIcon.svg
								+e.text Фильтр
						+e.list
							+catalogTableItem
							+catalogTableItem
							+catalogTableItem
							+catalogTableItem
							+catalogTableItem
							+catalogTableItem
