mixin catalogMenu(showMore=true)
	+b.menu._catalogMenu&attributes(attributes)
		.box
			+b.__swiper.swiper-container
				+b.__wrapper.swiper-wrapper
					+b.__item._active.swiper-slide(href='#') Награды
					+b.__item.swiper-slide(href='#') Подарки
					+b.__item.swiper-slide(href='#') Сувениры
					+b.__item.swiper-slide(href='#') Спорт.товары
					+b.__item.swiper-slide(href='#') Вышивка
			+b.__items
				+b.__item._active(href='catalog-grid.html')
					+e.img(src='images/categoryIcon1.png')
					+e.name Кубки
				+b.__item(href='catalog-grid.html')
					+e.img(src='images/categoryIcon2.png')
					+e.name Медали
				+b.__item(href='catalog-grid.html')
					+e.img(src='images/categoryIcon3.png')
					+e.name Медали из акрила
				+b.__item(href='catalog-grid.html')
					+e.img(src='images/categoryIcon4.png')
					+e.name Литые статуэтки
				+b.__item(href='catalog-grid.html')
					+e.img(src='images/categoryIcon5.png')
					+e.name Пластиковые фигурки
				+b.__item(href='catalog-grid.html')
					+e.img(src='images/categoryIcon6.png')
					+e.name Призы из акрила
				+b.__item(href='catalog-grid.html')
					+e.img(src='images/categoryIcon7.png')
					+e.name Деревянные награды
				+b.__item(href='catalog-grid.html')
					+e.img(src='images/categoryIcon8.png')
					+e.name Стеклянные награды
			if (showMore)
				+b.button._lg._full.__button(href='catalog.html')
					+e.icon
						include /assets/images/lg/blockIcon.svg
					+e.text Показать больше категорий
