mixin catalogSubCategories
	+b.catalogSubCategories&attributes(attributes)
		+e.box.box._scroll
			+b.__items
				+e.item._active(href='#') Металические
				+e.item(href='#') Пластиковые
				+e.item(href='#') Стеклянные
