mixin catalogSubCategories
	+b.catalogSubCategories
		+e.box.box
			+b.__items
				+e.item._active(href='#') Металические
				+e.item(href='#') Пластиковые
				+e.item(href='#') Стеклянные
				+e.item(href='#') Пластиковые
				+e.item(href='#') Стеклянные
				+e.item(href='#') Пластиковые
				+e.item(href='#') Стеклянные
				+e.item(href='#') Пластиковые
				+e.item(href='#') Стеклянные
