extends /desktop/layout/layout
include /include/sections/index/banners/banners
include /include/sections/index/catalogMenu/catalogMenu
include /include/sections/index/importantInfo/importantInfo
include /include/sections/index/gifts/gifts
include /desktop/include/sections/productList/productList
include /desktop/include/sections/saleList/saleList
include /desktop/page/index/clients/clients
include /desktop/page/index/bottomInfo/bottomInfo

block append pageVars
	- var pageTitle = "Главная";
	- var pageClass = "index";

block content
	+banners.__banners
	+productList('Наши эксклюзивы').__exclusive
	+catalogMenu(false).__mainMenu
	+saleList('Распродажа').__sale
	+importantInfo.__importantInfo
	+gifts('Подарки', false).__gifts
	+clients.__clients
	+gifts('Сувениры', false).__souvenirs
	+bottomInfo
