mixin categoriesLayer
	+b#layer_categories.layer
		+e.body
			+e.header Категория
				+b.icon._xl.__close
					include /assets/images/xl/crossIcon.svg
			+b.categoriesLayer.__content
				+b.__group
					+e.title Все товары
					+b.__items
						+e.item
							+e Кубки с Российской символикой
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
						+e.item
							+e Металлические кубки
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
						+e.item
							+e Стеклянные кубки
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
						+e.item
							+e Пластиковые кубки
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
						+e.item
							+e С местом под эмблему
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
						+e.item
							+e Классические кубки
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
						+e.item
							+e Все категории
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
				+b.__group
					+e.title Аксессуары
					+b.__items
						+e.item
							+e Крышки для кубков
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
						+e.item
							+e Эмблемы
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
						+e.item
							+e Таблички
							+b.LABEL.checkbox
								+b.__icon
									+e.INPUT.input(type='checkbox', checked='true')
									include /assets/images/md/checkboxIcon.svg
