mixin color
	+b.color&attributes(attributes)
		+b.__swiper.swiper-container
			+b.__wrapper.swiper-wrapper
				+b.__item._active.swiper-slide(src='images/color1.png')
				+b.__item.swiper-slide(src='images/color2.png')
				+b.__item.swiper-slide(src='images/color3.png')
				+b.__item.swiper-slide(src='images/color4.png')
				+b.__item.swiper-slide(src='images/color5.png')
				+b.__item.swiper-slide(src='images/color6.png')
				+b.__item.swiper-slide(src='images/color7.png')
