extends /desktop/layout/layout
include /desktop/include/sections/profileHead/profileHead
include /desktop/include/blocks/profileMenu/profileMenu
include /include/blocks/profile/addressItem/addressItem
include /include/blocks/profile/deleteAddressItemPopup/deleteAddressItemPopup

block append pageVars
	- var pageTitle = "Адреса доставки";
	- var pageClass = "profileAddresses";
	- var hideTopSubmenu = true;

block content
	+profileHead.__head
	+e.box.box
		+e.left
			+profileMenu
		+e.right
			+b.__list
				+e.items
					+addressItem
					+addressItem
					+addressItem
					+addressItem
					+addressItem
					+addressItem
				+b.button._lg._blue.__button(href='profile-address.html') Добавить адрес
			+b.__banner(href="#")
				+e.img(src="images/saleBanner.png")
	+deleteAddressItemPopup
