* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    @apply
    outline-none;
}

html {
    @apply
    font-sans text-base text-black;

    &.js-modal {
        @apply
        overflow-hidden
        md:pr-scrollbar;
    }
}

body {
    @apply
    m-0
    pt-20
    min-h-screen
    flex
    flex-col
    items-stretch;

    &.noHeader {
        @apply pt-0;
    }
}

a {
    @apply
    no-underline
    text-blue-dark
    hover:text-blue;
}

h2 {
    @apply
    h2;
}

h3 {
    @apply
    h3;
}

h4 {
    @apply
    h4;
}

h5 {
    @apply
    h5;
}

h6 {
    @apply
    h6;
}