.button {
    @apply
        h-12
        rounded
        bg-orange
        text-blue-dark
        inline-flex
        justify-center
        items-center
        cursor-pointer
        px-2
        font-medium
        space-x-2
        hover:opacity-90
        hover:text-blue-dark
        active:ring-1;

    &__icon {
        @apply
        inline-block
        w-8
        h-8;
    }

    &__text {
        @apply
        text-center;
    }

    &_xs {
        @apply
        text-sm
        px-2
        h-8;
    }

    &_xs & {
        &__icon {
            @apply
            w-4
            h-4;
        }
    }

    &_sm {
        @apply
            h-10;
    }

    &_sm & {
        &__icon {
            @apply
            w-6
            h-6;
        }
    }

    &_lg {
        @apply
        text-lg
        rounded-lg
        space-x-4
        px-4
        h-16;
    }

    &_gradientGray {
        @apply
            bg-gradient-to-t
            from-gray-gradient-from
            to-gray-gradient-to;
    }

    &_gray {
        @apply
        bg-gray-bg;
    }

    &_white {
        @apply
        border
        border-blue-dark
        bg-white
        hover:bg-blue-dark
        hover:text-white;
    }

    &_blue {
        @apply
        border
        bg-blue-dark
        text-white
        hover:text-blue-dark
        hover:bg-white;
    }

    &_green {
        @apply
        bg-green
        text-white;
    }

    &_yellow {
        @apply
        bg-orange-light;
    }

    &_full {
        @apply
        space-x-0
        w-full
        px-14
        relative;
    }

    &_full & {
        &__icon {
            @apply
                absolute
                top-1/2
                transform -translate-y-1/2
                first:left-4
                last:right-4;
        }
    }
}

