.button {
    @apply
        text-black
        h-12
        rounded
        border
        border-yellow-dark
        bg-yellow-dark
        inline-flex
        justify-center
        items-center
        cursor-pointer
        px-4
        font-medium
        space-x-2
        hover:bg-white
        hover:text-blue-dark
        active:ring-1;

    &__icon {
        @apply
        inline-block
        w-8
        h-8;
    }

    &__text {
        @apply
        text-center;
    }

    &_icon {
        @apply
        p-2
        w-12;
    }

    &_xs {
        @apply
        text-sm
        h-8;
    }

    &_xs & {
        &__icon {
            @apply
            w-4
            h-4;
        }
    }

    &_xs#{&}_icon {
        @apply
        w-8;
    }

    &_sm {
        @apply
            h-10;
    }

    &_sm#{&}_icon {
        @apply
        w-10;
    }

    &_sm & {
        &__icon {
            @apply
            w-6
            h-6;
        }
    }

    @variants responsive {
        &_md {
            @apply h-12
            text-base;
        }

        &_md & {
            &__icon {
                @apply w-8
                h-8;
            }
        }
    }

    &_lg {
        @apply
        text-lg
        rounded-lg
        space-x-4
        h-16;
    }

    &_lg#{&}_icon {
        @apply
        w-16;
    }

    &_gray {
        @apply
        text-blue-dark
        border-gray-border-light
        bg-gray-border-light
        hover:bg-white;
    }

    &_lightGray {
        @apply
        text-blue-dark
        border
        border-gray-card
        bg-gray-card
        hover:bg-white;
    }

    @variants responsive {
        &_white {
            @apply border
            border-blue-dark
            bg-white
            text-blue-dark
            hover:bg-blue-dark
            hover:text-white;
        }
    }

    &_blue {
        @apply
        border
        border-blue-dark
        bg-blue-dark
        text-white
        hover:text-blue-dark
        hover:bg-white;
    }

    &_green {
        @apply
        border-green
        bg-green
        text-white;
    }

    &_yellow {
        @apply
        text-blue-dark
        border-yellow
        bg-yellow;
    }

    &_full {
        @apply
        space-x-0
        w-full
        px-14
        relative;
    }

    &_full & {
        &__icon {
            @apply
                absolute
                top-1/2
                transform -translate-y-1/2
                first:left-4
                last:right-4;
        }
    }
}


