.form {
    &__row {
        @apply
        mb-4
        last:mb-0;
    }

    &__label {
        @apply
        text-blue-dark
        mb-2;
    }

    &__footer {
        @apply
        flex
        flex-col
        space-y-4
        mt-8
        md:flex-row
        md:space-y-0
        md:space-x-4;

        & > * {
            @apply
            md:flex-1;
        }
    }
}

.input {
    @apply
    w-full
    h-12
    px-4
    py-2
    flex
    items-center
    space-x-2
    border
    rounded
    bg-white;

    &__icon {
        @apply
        inline-block
        text-blue-dark
        w-8
        h-8;
    }

    &__field {
        @apply
        h-full
        placeholder-gray
        overflow-hidden
        flex-1;
    }

    &_lg {
        @apply h-16;
    }
}

.textarea {
    @apply
    block
    w-full
    h-28
    p-4
    border
    rounded
    bg-white
    placeholder-gray;
}

.select {
    @apply
    w-full
    h-12
    border
    rounded
    bg-white
    relative;

    &_sm {
        @apply
        h-8;
    }

    &_lg {
        @apply
        h-16;
    }

    &_lg & {
        &__input {
            @apply
            pl-4
            pr-16
            select-center
            font-medium;
        }
    }

    &_gray {
        @apply
        border-0
        bg-gray-card;
    }

    &__input {
        @apply
        w-full
        h-full
        pl-2
        pr-12
        bg-transparent
        appearance-none;
    }

    &__icon {
        @apply
            h-8
            w-8
            absolute
            top-1/2
            transform -translate-y-1/2
            right-4;
    }
}

.checkbox {
    @apply
    flex
    items-center
    space-x-4
    cursor-pointer;

    &__icon {
        @apply relative w-6 h-6;

        & > * {
            @apply
            fill-white
            stroke-gray-border;
        }

        &__input {
            @apply absolute opacity-0 top-0 left-0 w-full h-full z-10;
        }

        &__input:checked + * {
            @apply
            fill-blue
            stroke-blue;
        }
    }

    &__label {
        @apply text-blue-dark;
    }

    &_disabled {
        @apply cursor-default;
    }

    &_disabled & {
        &__icon {
            &__input:checked + * {
                @apply fill-gray-border
                stroke-gray-border;
            }
        }

        &__label {
            @apply text-gray;
        }
    }
}

.radio {
    @apply
    flex
    items-center
    space-x-4
    cursor-pointer;

    &__icon {
        @apply relative w-6 h-6;

        & > * {
            @apply
            fill-white
            stroke-blue-dark;
        }

        &__input {
            @apply absolute opacity-0 top-0 left-0 w-full h-full z-10;
        }

        &__input:checked + * {
            @apply
            fill-blue-dark
            stroke-blue-dark;
        }
    }

    &_disabled {
        @apply cursor-default;
    }

    &_disabled & {
        &__icon {
            &__input:checked + * {
                @apply fill-gray-border
                stroke-gray-border;
            }
        }

        &__label {
            @apply text-gray-300;
        }
    }
}

.links {
    @apply
    space-y-2;

    &__item {
        @apply
        text-lg
        font-medium
        block
        text-center;
    }
}