.form {
    &__title {
        @apply
        h4
        mb-4;
    }

    &__row {
        @apply
        mb-4
        last:mb-0;

        &_inline {
            @apply
                flex
                space-x-8;
        }

        &_group {
            @apply
            flex
            space-x-4;
        }

        &__button {
            @apply flex-1;
        }
    }

    &__label {
        @apply
        text-blue-dark
        mb-2;
    }

    &__footer {
        @apply
        flex
        flex-col
        space-y-4
        mt-8
        md:flex-row
        md:space-y-0
        md:space-x-4;

        & > * {
            @apply
            md:flex-1;
        }
    }
}

.input {
    @apply
    w-full
    h-12
    py-2
    pl-4
    pr-2
    flex
    items-center
    space-x-2
    border
    rounded
    bg-white
    hover:border-light
    active:border-light;

    &__icon {
        @apply
        inline-block
        text-blue-dark
        w-8
        h-8;
    }

    &__field {
        @apply
        h-full
        placeholder-gray-light
        overflow-hidden
        flex-1;
    }

    //TODO: remove
    &_short {
        @apply
        w-2/3;
    }

    &_hasError {
        @apply
        border-red
        text-red
        hover:border-red
        active:border-red;
    }

    &_hasError & {
        &__input {
            @apply
            text-red;
        }
    }

    &_lg {
        @apply h-16;
    }
}

.textarea {
    @apply
    block
    w-full
    h-28
    p-4
    border
    rounded
    bg-white
    placeholder-gray-light;
}

.select {
    @apply
    w-full
    h-12
    rounded
    bg-gray-card
    relative
    cursor-pointer;

    &__input {
        @apply
        w-full
        h-full
        pl-4
        pr-12
        bg-transparent
        font-medium
        appearance-none
        cursor-pointer;
    }

    &__icon {
        @apply
            h-8
            w-8
            absolute
            top-1/2
            transform -translate-y-1/2 rotate-90
            right-4;
    }

    &_sm {
        @apply
        border
        h-8;
    }

    &_sm & {
        &__input {
            @apply
            text-gray
            text-xs;
        }

        &__icon {
            @apply
            h-4
            w-4;
        }
    }

    &_lg {
        @apply
        border-0
        h-16;
    }

    &_lg & {
        &__input {
            @apply
            pr-16
            select-center
            md:text-lg;
        }
    }
}

.checkbox {
    @apply
    flex
    items-center
    space-x-4
    cursor-pointer;

    &__icon {
        @apply relative w-6 h-6;

        & > * {
            @apply
            fill-white
            stroke-gray-light;
        }

        &__input {
            @apply absolute opacity-0 top-0 left-0 w-full h-full z-10;
        }

        &__input:checked + * {
            @apply
            fill-blue
            stroke-blue;
        }
    }

    &__label {
        @apply text-blue-dark;
    }

    &_disabled {
        @apply cursor-default;
    }

    &_disabled & {
        &__icon {
            &__input:checked + * {
                @apply fill-gray-light
                stroke-gray-light;
            }
        }

        &__label {
            @apply text-gray;
        }
    }
}

.radio {
    @apply
    flex
    items-center
    space-x-2
    cursor-pointer;

    &__icon {
        @apply relative w-6 h-6;

        & > * {
            @apply
            fill-white
            stroke-blue-dark;
        }

        &__input {
            @apply absolute opacity-0 top-0 left-0 w-full h-full z-10;
        }

        &__input:checked + * {
            @apply
            fill-blue-dark
            stroke-blue-dark;
        }
    }

    &__label {
        @apply text-blue-dark;
    }

    &_disabled {
        @apply cursor-default;
    }

    &_disabled & {
        &__icon {
            &__input:checked + * {
                @apply fill-gray-light
                stroke-gray-light;
            }
        }

        &__label {
            @apply text-gray-light;
        }
    }
}

.links {
    @apply
    space-y-2
    md:flex
    md:justify-between
    md:space-y-0;

    &__item {
        @apply
        text-lg
        block
        text-center
        md:text-base;

        & > * {
            @apply
                font-medium
                mx-1;
        }
    }

    &_center {
        @apply
            justify-center;
    }
}