.swiper {
    &-prev,
    &-next {
        @apply
        border
        cursor-pointer
        rounded
        flex
        justify-center
        items-center
        bg-white
        text-black
        w-16
        h-20
        absolute
        z-10
        top-1/2
        transform -translate-y-1/2;

        &_thumb {
            @apply
            p-0
            w-6
            h-6
            bg-transparent
            border-0;
        }
    }

    &-prev {
        @apply
        transform -translate-y-1/2 rotate-180
        left-0;
    }

    &-next {
        @apply
        right-0;
    }

    &-button {
        &-disabled {
            @apply
                cursor-default
                text-gray
                hover:text-gray;
        }
    }

    &-dots {
        @apply flex
        items-center
        justify-center
        space-x-2
        absolute
        z-10;

        &-item {
            @apply w-2
            h-2
            bg-gray-light
            rounded-circle
            cursor-pointer
            hover:bg-blue-dark;

            &-active {
                @apply bg-blue-dark;
            }
        }

        &_banners & {
            &-item {
                @apply
                bg-gray-border-light
                md:h-3
                md:w-3;

                &-active {
                    @apply bg-yellow;
                }
            }
        }

        &_sm {
            @apply space-x-1;
        }

        &_sm & {
            &-item {
                @apply
                w-small-dot
                h-small-dot;
            }
        }
    }

    &-container > &-dots {
        @apply
        bottom-0.5;
    }

    &-container-autoheight & {
        &-wrapper {
            @apply
            items-stretch;
        }
    }

    &-container-vertical {
        @apply h-full;
    }

    &-container-vertical & {
        &-prev,
        &-next {
            @apply
            h-16
            w-20
            py-5
            px-7
            top-0
            left-1/2
            transform -translate-x-1/2 rotate-90
            right-auto;

            &_thumb {
                @apply
                p-0
                w-6
                h-6;
            }
        }

        &-next {
            @apply
                top-auto
                bottom-0;
        }
    }
}