.tabs {
    @apply w-full;

    &__content {
        &__item {
            @apply hidden;

            &_active {
                @apply block;
            }
        }
    }

    &__buttons {
        @apply
        bg-white
        flex
        items-stretch
        justify-between
        border-b
        overflow-block
        w-full;

        &__item {
            @apply
            relative
            py-4
            px-2
            mx-4
            whitespace-nowrap
            text-sm
            flex
            items-center
            justify-center
            cursor-pointer
            hover:text-gray-light
            md:text-base;

            &_active {
                @apply
                font-medium;

                &:before {
                    @apply content-empty
                    absolute
                    inset-x-0
                    bottom-0
                    h-1
                    bg-black;
                }
            }
        }
    }

    &_stretch {
        @apply
        h-full
        flex
        flex-col
        items-stretch;
    }

    &_stretch & {
        &__content {
            @apply flex-1;
        }
    }

    &_blue & {
        &__buttons {
            @apply
            bg-gray-card
            rounded
            border-0;

            &__item {
                @apply
                rounded
                flex-1
                mx-0
                font-medium;

                &_active {
                    @apply
                    bg-blue-dark
                    text-white;

                    &:before {
                        @apply
                        hidden;
                    }
                }
            }
        }

        &__content {
            @apply mt-4;
        }
    }

    &_inline & {
        &__buttons {
            @apply
            justify-start
            mb-4;

            &__item {
                @apply
                text-lg
                text-gray-light
                mx-0
                px-6
                py-3
                hover:text-black;

                &_active {
                    @apply
                    font-normal;
                }
            }
        }
    }

    &_productHead {
        @apply
        w-auto;
    }

    &_productHead & {
        &__buttons {
            @apply
            bg-transparent
            border-none
            space-x-6;

            &__item {
                @apply
                    mx-0
                    px-8;
            }
        }
    }
}