.textBlock {
    @apply
        text-sm
        space-y-4
        md:text-base
        md:space-y-8;

    &__textList {
        @apply
        space-y-4
        md:space-y-6;

        &__title {
            @apply
                font-medium
                md:text-base;
        }

        &__items {
            @apply
            space-y-4
            md:space-y-6;
        }

        &__item {
            @apply
            text-gray;

            &__title {
                @apply
                text-black
                inline mr-1;
            }
        }
    }
}