.h2 {
    @apply
    text-3xl
    font-bold;
}

.h3 {
    @apply
    text-2xl
    font-medium;
}

.h4 {
    @apply
    text-xl
    font-medium;
}

.h5 {
    @apply
    text-lg
    font-medium;
}

.h6 {
    @apply
    font-medium;
}

.select-center {
    text-align-last: center;
}

.content-empty {
    content: '';
}

.overflow {
    &-scrollVert {
        @apply
        overflow-x-hidden
        overflow-y-scroll
        md:pr-2;

        &::-webkit-scrollbar {
            @apply
                hidden
                w-1
                h-1
                md:block;
        }

        &::-webkit-scrollbar-track {
            @apply inset-y-3;
        }

        &::-webkit-scrollbar-thumb {
            @apply
            bg-orange
            rounded-full;
        }
    }

    &-block {
        @apply overflow-x-scroll;

        &::-webkit-scrollbar {
            @apply hidden;
        }
    }
}

.fullImageCover {
    @apply
    h-full w-full object-cover;
}

.flexImageCover {
    @apply
    absolute fullImageCover;
}

.fullImageContain {
    @apply
    h-full w-full object-contain;
}

.flexImageContain {
    @apply
    absolute fullImageContain;
}

.price {
    @apply
    whitespace-nowrap
    font-bold;
}

.oldPrice {
    @apply
    whitespace-nowrap
    line-through text-gray-light;
}

.bgGrayGradient {
    @apply
    bg-gradient-to-t
    from-gray-gradient-from
    to-gray-gradient-to;
}

