include /include/elements/size/size
include /include/elements/buyButton/buyButton
include /include/elements/labels/labels
include /include/elements/favoriteIcon/favoriteIcon
include /include/blocks/catalog/catalogItemGallery/catalogItemGallery
include /include/elements/quantity/quantity

mixin catalogTableItem
	+b.catalogTableItem
		+b.__header
			+e.col._img Фото
			+e.col._info Название
			+e.col._size Размер
			+e.col._material Материал
			+e.col._prices Цена
		+e.variant
			+b.__img
				+e.wrapper
					+e.image(src='images/catalogItem.png')
			+e.info
				+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
				+e.sku Артикул: 37692
			+e.size 20.5 см
			+e.material Пластик
			+e.prices
				+e.price 127 354 ₽
				+e.oldPrice 137 354 ₽
				+b.__stock
					+e.label В наличии:
					+e.value 133 шт.
			+quantity
			+buyButton.__buyButton
		+e.variant
			+b.__img
				+e.wrapper
					+e.image(src='images/catalogItem.png')
			+e.info
				+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
				+e.sku Артикул: 37692
			+e.size 20.5 см
			+e.material Пластик
			+e.prices
				+e.price 127 354 ₽
				+e.oldPrice 137 354 ₽
				+b.__stock
					+e.label В наличии:
					+e.value 133 шт.
			+quantity
			+buyButton.__buyButton
