mixin clients
	+b.clients&attributes(attributes)
		+e.box.box
			+e.title Наши клиенты
			+b.menu
				+b.__swiper.swiper-container
					+b.__wrapper.swiper-wrapper
						+b.__item._active.swiper-slide(href='#') Банки
						+b.__item.swiper-slide(href='#') Авто
						+b.__item.swiper-slide(href='#') Фитнес клубы
				+b.clients__swiper.swiper-container
					+b.__wrapper.swiper-wrapper
						+b.__item.swiper-slide(href='#')
							+e.img(src='images/clientImg1.png')
							+e.logo(src='images/sberLogo.png')
						+b.__item.swiper-slide(href='#')
							+e.img(src='images/clientImg2.png')
							+e.logo(src='images/sberLogo.png')
						+b.__item.swiper-slide(href='#')
							+e.img(src='images/clientImg1.png')
							+e.logo(src='images/sberLogo.png')
						+b.__item.swiper-slide(href='#')
							+e.img(src='images/clientImg2.png')
							+e.logo(src='images/sberLogo.png')
						+b.__item.swiper-slide(href='#')
							+e.img(src='images/clientImg1.png')
							+e.logo(src='images/sberLogo.png')
						+b.__item.swiper-slide(href='#')
							+e.img(src='images/clientImg2.png')
							+e.logo(src='images/sberLogo.png')
						+b.__item.swiper-slide(href='#')
							+e.img(src='images/clientImg1.png')
							+e.logo(src='images/sberLogo.png')
						+b.__item.swiper-slide(href='#')
							+e.img(src='images/clientImg2.png')
							+e.logo(src='images/sberLogo.png')
					+b.swiper-prev
						include /assets/images/shevronBold.svg
					+b.swiper-next
						include /assets/images/shevronBold.svg
