include /include/blocks/common/bestDelivery/bestDelivery

mixin productDeliveryInfo
	+b.productDeliveryInfo&attributes(attributes)
		+e.title О доставке
		+bestDelivery.__best
		+e.blocks
			+b.__info
				+b.__item
					+b.icon._lg.__icon
						include /assets/images/lg/carIcon.svg
					+e.name От 3000 р. бесплатно по Москве
				+b.__item
					+b.icon._lg.__icon
						include /assets/images/lg/cameraIcon.svg
					+e.name Сделаем фото перед отгрузкой
				+b.__item
					+b.icon._lg.__icon
						include /assets/images/lg/discountIcon.svg
					+e.name Скидка 15% на ВСЁ
				+b.__item
					+b.icon._lg.__icon
						include /assets/images/lg/buildingIcon.svg
					+e.name Оптовые скидки от 15 000 ₽
				+e.more(href='#') Подробнее о доставке
			+b.__props
				+e.row
					+b.__item
						+e.name Транспорт ная упаковка:
						+e.value 60,0x40,0x30,0 см
					+b.__item
						+e.name Размеры:
						+e.value S-5XL
				+e.row
					+b.__item
						+e.name Вес упаковки:
						+e.value 15,40 кг
					+b.__item
						+e.name В упаковке:
						+e.value 100 шт
				+e.row
					+b.__item
						+e.name Материал:
						+e.value Хлопок 100% плотность 140 г/м; джерси
					+b.__item
						+e.name Вес шт:
						+e.value 152 г
