.productDeliveryInfo {
    @apply
    w-full;

    &__title {
        @apply
        h4
        mb-4
        hidden
        md:block;
    }

    &__best {
        @apply
        mb-8;
    }

    &__blocks {
        @apply
        md:flex
        md:flex-row-reverse
        md:space-y-0
        md:items-stretch;
    }

    &__info {
        @apply
        bg-gray-card
        rounded
        py-6
        px-4
        mb-4
        md:p-8
        md:w-80
        md:mb-0
        md:ml-4;

        &__items {
            @apply space-y-4;

            &__item {
                @apply
                flex
                items-center
                space-x-4;

                &__icon {
                    @apply text-blue-dark;
                }

                &__name {
                    @apply
                    md:text-sm;
                }
            }
        }

        &__more {
            @apply
            hidden
            underline
            text-sm
            mt-6
            md:block;
        }
    }

    &__props {
        @apply
        bg-grayGradient
        rounded
        px-4
        py-6
        space-y-4
        md:flex-1
        md:p-8
        md:space-y-8
        md:bg-none
        md:bg-gray-card;

        &__row {
            @apply
            flex
            justify-between
            space-x-4
            pb-4
            border-b

            md:space-x-8
            md:pb-8
            last:border-0
            last:pb-0;
        }

        &__item {
            @apply
                space-y-4
                first:flex-1
                last:w-36
                md:last:w-24;

            &__name {
                @apply
                    font-medium;
            }

            &__value {
                @apply
                    text-gray;
            }
        }
    }
}
