extends /desktop/layout/layout

block append pageVars
	- var pageTitle = "Удерживаем цены";
	- var pageClass = "new";

block content
	.box
		+e.img(src='images/new.png')
		+b.__back(href="news.html")
			+b.icon.__icon
				include /assets/images/md/shevronIcon.svg
			| К списку новостей
		+e.title Удерживаем цены
		+e.date 12 августа, 2020
		+e.text
			| Мы удерживаем цены!
			br
			| Спешите заказать по старым ценам!
			br
			br
			| Из-за большого удара по экономике, а также всвязи с ограничениями, введенными правительством, мы, к сожалению, будем вынуждены поднять цены.
			br
			br
			| Сколько это возможно мы будем стараться сохранять условия акций и удерживать цены на прежнем уровне.
			br
			| Однако, ситуация может измениться в любой момент.
			br
			br
			| Если ваше мероприятие перенесено, но вы уверены, что оно состоится, советуем заказать награды СЕЙЧАС!
