extends /mobile/layout/layout
include /include/elements/bottomButton/bottomButton
include /include/blocks/common/pageHead/pageHead
include /include/blocks/profile/addressItem/addressItem
include /include/blocks/profile/deleteAddressItemPopup/deleteAddressItemPopup

block append pageVars
	- var pageTitle = "Адреса доставки";
	- var pageClass = "profileAddresses";
	- var hideFooter = true;

block content
	+pageHead('Адреса доставки', 'profile.html')._profile.__head
		+e.right
			+b.icon._xl
				include /assets/images/xl/addressIcon.svg
	.box
		+e.list
			+addressItem(true)
			+addressItem
			+addressItem
			+addressItem
			+addressItem
			+addressItem
	+bottomButton
		+b.button._lg._blue(href='profile-address.html') Добавить адрес
	+deleteAddressItemPopup