include /include/blocks/common/bookOrderContent/bookOrderContent

mixin bookOrderPopup
	+b#popup_book_order.popup
		+e.overlay
		+e.body._lg
			+e.handler
			+b.icon.__close(href="#")
				include /assets/images/md/crossIcon.svg
			+b.__content
				+b.__wrapper
					+bookOrderContent