mixin popularKeywords
	+b.popularKeywords&attributes(attributes)
		+e.title Часто ищут
		+b.__items
			+e.item(href='#') Кубки для соревнований
			+e.item(href='#') Кубки для волейбола
			+e.item(href='#') Красивые кубки
			+e.item(href='#') Кубки для кошек
			+e.item(href='#') Кубки для соревнований
			+e.item(href='#') Кубки для волейбола
