include /mobile/include/blocks/catalog/viewedItem/viewedItem

mixin viewedList
	+b.viewedList&attributes(attributes)
		+e.box.box
			+e.title Вы смотрели
			+b.swiper-container.__swiper
				+b.swiper-wrapper
					+viewedItem.swiper-slide.viewedList__item
					+viewedItem.swiper-slide.viewedList__item
					+viewedItem.swiper-slide.viewedList__item
					+viewedItem.swiper-slide.viewedList__item
					+viewedItem.swiper-slide.viewedList__item
					+viewedItem.swiper-slide.viewedList__item
					+viewedItem.swiper-slide.viewedList__item
