include /mobile/include/blocks/catalog/viewedItem/viewedItem

mixin viewedList
	+b.viewedList&attributes(attributes)
		+e.box.box
			+e.title Вы смотрели
			+e.items
				+viewedItem.__item
				+viewedItem.__item
				+viewedItem.__item
				+viewedItem.__item
				+viewedItem.__item
				+viewedItem.__item
				+viewedItem.__item
