extends /mobile/layout/layout
include /include/blocks/common/pageHead/pageHead

block append pageVars
	- var pageTitle = "Авторизация";
	- var pageClass = "login";
	- var hideFooter = true;

block content
	+pageHead('Вход в аккаунт', false)._noIcons.__head
	.box
		+b.FORM.form.__form
			+e.row
				+b.input._lg
					+e.INPUT.field(type='text', placeholder='Поиск по сайту', required)
			+e.row
				+b.input._lg
					+e.INPUT.field(type='password', placeholder='Пароль', required)
			+e.footer
				+b.button._lg._blue(href='#') Войти
				+b.button._lg._white(href='registration.html') Регистрация
		+b.links.__links
			+e.item(href='forgot-password.html') Забыли свой пароль?
