mixin catalogTopCategories
    +b.catalogTopCategories
        +e(class="box").box
            +b(href="#").__item._active
                +e(src="images/categoryIcon1.png").img
                +e.name Кубки
            +b(href="#").__item
                +e(src="images/categoryIcon2.png").img
                +e.name Медали
            +b(href="#").__item
                +e(src="images/categoryIcon3.png").img
                +e.name Медали из акрила
            +b(href="#").__item
                +e(src="images/categoryIcon4.png").img
                +e.name Литые статуэтки
            +b(href="#").__item
                +e(src="images/categoryIcon5.png").img
                +e.name Пластиковые фигурки
            +b(href="#").__item
                +e(src="images/categoryIcon6.png").img
                +e.name Призы из акрила
            +b(href="#").__item
                +e(src="images/categoryIcon7.png").img
                +e.name Деревянные награды
            +b(href="#").__item
                +e(src="images/categoryIcon8.png").img
                +e.name Стеклянные награды
            +b(href="#").__item._more
                include /assets/images/moreIcon.svg
