include /include/elements/quantity/quantity

mixin productEdition
	+b.productEdition&attributes(attributes)
		+e.header
			+e.col._size Размер
			+e.col._stock На складе
			+e.col._count Тираж
		+e.row
			+e.col._size 36 см
			+e.col._stock 3242
			+e.col._count
				+quantity._edition
		+e.row
			+e.col._size 36 см
			+e.col._stock 3242
			+e.col._count
				+quantity._edition
		+e.row
			+e.col._size 36 см
			+e.col._stock 3242
			+e.col._count
				+quantity._edition
		+e.row
			+e.col._size 36 см
			+e.col._stock 3242
			+e.col._count
				+quantity._edition
