extends /desktop/layout/layout
include /desktop/page/catalog/catalogHead/catalogHead
include /desktop/page/catalog/catalogContent/catalogContent

block append pageVars
	- var pageTitle = "Кубки пластиковые";
	- var pageClass = "catalog";
	- var catalogView = "grid";

block content
	+catalogHead
	+catalogContent.__catalogContent
