extends /desktop/layout/layout
include /desktop/page/catalog/catalogHead/catalogHead
include /desktop/page/catalog/catalogContent/catalogContent
include /desktop/page/catalog/catalogBottom/catalogBottom

block append pageVars
	- var pageTitle = "Кубки пластиковые";
	- var pageClass = "catalog";
	- var catalogView = "list";

block content
	+catalogHead.__head
	+catalogContent.__catalogContent
	+catalogBottom.__catalogBottom