mixin categoriesPopup
	+b#popup_categories.popup._layer
		+e.overlay
		+e.body
			+b.icon._xl.__close
				include /assets/images/xl/crossIcon.svg
			+e.header Категория
			+b.__content
				+b.categoriesPopup.__wrapper
					+b.__group
						+e.title Все товары
						+b.__items
							+b.__item
								+e.name Кубки с Российской символикой
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
							+b.__item
								+e.name Металлические кубки
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
							+b.__item
								+e.name Стеклянные кубки
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
							+b.__item
								+e.name Пластиковые кубки
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
							+b.__item
								+e.name С местом под эмблему
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
							+b.__item
								+e.name Классические кубки
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
							+b.__item
								+e.name Все категории
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
					+b.__group
						+e.title Аксессуары
						+b.__items
							+b.__item
								+e.name Крышки для кубков
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
							+b.__item
								+e.name Эмблемы
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
							+b.__item
								+e.name Таблички
								+b.icon._sm.__icon
									include /assets/images/sm/shevronIcon.svg
