include /include/blocks/product/productFileList/productFileList
include /include/elements/downloadButton/downloadButton
include /include/elements/bottomButton/bottomButton

mixin productUpgradePlaceLayer
	+b#layer_upgrade_cup_place.layer
		+e.body
			+e.header Место нанесения
				+b.icon._xl.__close
					include /assets/images/xl/crossIcon.svg
			+b.productUpgradePlaceLayer.__content
				+b.__header
					+e.img(src='images/cupShield.png')
					+e Табличка
				+e.desc Полноцветное нанесение любого текста и изображения на металлические таблички или гравировка на пластиковых табличках
				+b.__config
					+b.__app
						+b.__top
							+e.title Нанесение
							+e.price 249 ₽ / шт
						+e.block
							+b.select._gray._lg
								+e.SELECT.input
									+e F1: Флекс
									+e F1: Флекс
									+e F1: Флекс
								+e.icon
									include /assets/images/lg/shevronIcon.svg
							+b.TEXTAREA.textarea(placeholder='Укажите текст')
					+productFileList.__productFileList
				+e.title Как составить техническое задание чтобы получить то что хочется
				+e.text Печать шелкографией — самая популярная и универсальная технология нанесения изображений на бизнес-подарки и промопродукцию. Этим методом логотип или рекламное сообщение можно нанести почти на любой материал — хлопок, нейлон, полиэстер, пластик, стекло, искусственную кожу, дерево и бумагу.
				+downloadButton('Скачать идеальное ТЗ').__downloadButton
				+e.title Технические требования к макету
				+e.text
					+e Печать шелкографией — самая популярная и универсальная технология нанесения изображений на бизнес-подарки и промопродукцию. Этим методом логотип или рекламное сообщение можно нанести почти на любой материал — хлопок, нейлон, полиэстер, пластик, стекло, искусственную кожу, дерево и бумагу.
					+e Шелкографию применяют для печати практически на всех видах промопродукции от футболок, зонтов и сумок до брелков, зажигалок и упаковки.
			+bottomButton
				+b.button._lg._blue(href='#') Добавить
