mixin fileItem
	+b.fileItem&attributes(attributes)
		+b.icon.__fileIcon
			include /assets/images/lg/fileIcon.svg
		+e.name Название файла
		+b.icon.__crossIcon(href="#")
			include /assets/images/md/crossIcon.svg
