.fileItem {
    @apply
    p-3
    text-sm
    border
    rounded
    flex
    items-center
    space-x-4
    font-medium;

    &__name {
        @apply flex-1;
    }

    &__fileIcon {
        @apply
            icon_lg;
    }

    &_fileList & {
        &__name {
            @apply
            md:text-base;
        }

        &__fileIcon {
            @apply
            md:icon_2lg;
        }

        &__crossIcon {
            @apply
            md:icon_lg;
        }
    }
}