+b.headerMob
	+e.box.box
		+b.icon.__catalogIcon(href='/catalog.html')
			include /assets/images/sandwitchIcon.svg
		+b.icon.__pointIcon(href='#')
			include /assets/images/pointIcon.svg
		include /include/elements/logo/logo
		+b.icon.__searchIcon(href='#')
			include /assets/images/searchIcon.svg
		+b.icon.__cartIcon(href='#')
			include /assets/images/basketIcon.svg
