include /include/elements/logo/logo
include /include/blocks/common/callback/callback
include /include/sections/index/catalogMenu/catalogMenu
include /include/sections/index/importantInfo/importantInfo
include /mobile/include/blocks/chooseCityPopup/chooseCityPopup

+b.header
	+e.box.box
		+b.__catalogButton
			+e.stick._first
			+e.stick._second
			+e.stick._third
			+e.stick._forth
		+b.icon._xl(href='search.html')
			include /assets/images/xl/searchIcon.svg
		+logo.__logo
		+b.icon._xl(href='favorites.html')
			include /assets/images/xl/favoriteIcon.svg
		+b.icon._xl(href='cart.html')
			include /assets/images/xl/basketIcon.svg
+b.mainMenu
	.box
		+b.__top
			+b.button._icon._sm._yellow(href='index.html')
				+e.icon
					include /assets/images/md/homeIcon.svg
			+b.__link(href='profile.html')
				+b.icon._lg
					include /assets/images/lg/userIcon.svg
				+e.text Мой аккаунт
			+b.__link(href='order-status.html')
				+b.icon._lg
					include /assets/images/lg/bestDeliveryIcon.svg
				+e.text Статус заказа
		+b.__galleryLink(href='gallery.html')
			+e.img(src='images/galleryBanner.png')
			+e.text Наши работы
		+b.__location
			+b.icon
				include /assets/images/md/pointIcon.svg
			+e.label Ваш город:
			+e.city(href='#popup_choose_city') Москва
		+callback.__callback
	+catalogMenu(false).__catalogMenu
	+importantInfo.__importantInfo
	.box
		+b.button._lg._gray._full(href='#')
			+e.text Нужна помощь?
+chooseCityPopup
