include /include/elements/quantity/quantity

mixin productDescription
	+b.productDescription&attributes(attributes)
		+e.title Описание
		+e.content
			+e.text
				+e Кубок пластиковый на основании из мрамора. Кубок B368 отличается оригинальной рельефной чашей. Кубок можно укомплектовать металлической, пластиковой или заливной табличкой с вашим текстом или логотипом. Примеры исполнения нанесения можно посмотреть на фото примеров или в нашей Галерее.
					+e.more(href='#') Читать все
				+e Заказ от 1шт. Доставка в любую точку РФ.
