include /include/blocks/common/pageHead/pageHead

mixin catalogHead(title='Кубки пластиковые с длинным названием')
	+pageHead(title, false).catalogHead&attributes(attributes)
		if (!title)
			+b.catalogHead__count Найдено 98 товаров
		+e.right
			+b.select._sm.catalogHead__sort
				+e.SELECT.input
					+e Сортировка
					+e По цене
					+e По рейтингу
				+e.icon
					include /assets/images/sm/shevronIcon.svg
			+b.catalogHead__views
				+b.button._xs._icon._blue(href='catalog-grid.html')
					+e.icon
						include /assets/images/sm/viewGridIcon.svg
				+b.button._xs._icon._lightGray(href='catalog-list.html')
					+e.icon
						include /assets/images/sm/viewListIcon.svg
				+b.button._xs._icon._lightGray(href='catalog-table.html')
					+e.icon
						include /assets/images/sm/viewTableIcon.svg
