mixin catalogHead
	+b.catalogHead
		+e.box.box
			+e.title Кубки пластиковые с длинным названием
			+e.countTab (98)
			+e.count Найдено 98 товаров
			+b.SELECT.select._sm.__sort
				+e Сортировка
				+e По цене
				+e По рейтингу
			+b.__views
				+e.item._active(href='catalog-grid.html')
					include /assets/images/viewGridIcon.svg
				+e.item(href='catalog-list.html')
					include /assets/images/viewListIcon.svg
				+e.item(href='catalog-table.html')
					include /assets/images/viewTableIcon.svg
