.productProperties {
    &__title {
        @apply
        h4
        mb-4;
    }

    &__content {
        @apply flex items-stretch space-x-4;
    }

    &__items {
        @apply
        flex-1
        bg-gray-card
        rounded
        space-y-8
        p-8
        md:last:flex-none
        md:last:w-80;
    }

    &__item {
        @apply
            flex
            items-center;

        &__name {
            @apply
                flex-1;
        }

        &__value {
            @apply
            font-medium;

            &__link {
                @apply
                text-blue
                hover:underline;
            }
        }
    }
}
