include /include/elements/quantity/quantity

mixin productProperties
	+b.productProperties&attributes(attributes)
		+e.title Свойства
		+e.content
			+e.items
				+b.__item
					+e.name Материал:
					+b.__value
						+e.link(href='#') Пластиковый
				+b.__item
					+e.name Тематика:
					+b.__value
						+e.link(href='#') Универсальные
				+b.__item
					+e.name Форма чаши:
					+b.__value
						+e.link(href='#') глубокая
				+b.__item
					+e.name Наличие ручек:
					+b.__value
						+e.link(href='#') есть
				+b.__item
					+e.name Материал цоколя:
					+b.__value
						+e.link(href='#') мрамор
				+b.__item
					+e.name Цвет цоколя:
					+b.__value
						+e.link(href='#') черный
				+b.__item
					+e.name Цвет:
					+b.__value
						+e.link(href='#') золотой
				+b.__item
					+e.name Вес:
					+e.value 1665 гр
			+e.items
				+b.__item
					+e.name Ширина (X):
					+b.__value
						+e.link(href='#') 140 мм
				+b.__item
					+e.name Высота (Y):
					+b.__value
						+e.link(href='#') 360 мм
				+b.__item
					+e.name Глубина (Z):
					+b.__value
						+e.link(href='#') 140 мм
				+b.__item
					+e.name Диаметр чаши кубка:
					+b.__value
						+e.link(href='#') 14 см
				+b.__item
					+e.name Высота:
					+b.__value
						+e.link(href='#') 36 см
