include /mobile/include/blocks/compositionItem/compositionItem
include /mobile/include/blocks/productItem/productItem

mixin cartItems
	+b.cartItems&attributes(attributes)
		+b.__category
			+b.__header
				+e.name Кубки
				+e.count 2 шт
			+e.__items
				+compositionItem('cart')
				+productItem('cart')
				+compositionItem('cart')
		+b.__category
			+b.__header
				+e.name Медали
				+e.count 12 шт
			+e.__items
				+compositionItem('cart')
				+compositionItem('cart')
