+b#modal_login.modal._login
	+e.area
		+e.overlay
		+e.trick &#8203;
		+e.box
			+e.body
				+e.title Вход в личный кабинет
				+e.content
					+b.FORM.form
						+e.row
							+b.input._lg
								+e.INPUT.field(type='text', placeholder='Поиск по сайту', required)
						+e.row
							+b.input._lg
								+e.INPUT.field(type='password', placeholder='Пароль', required)
						+e.footer
							+b.BUTTON.button._xl._blue Войти
				+b.__links
					+e.item(href='#') Регистрация
					+e.item(href='#') Забыли пароль?
