include /include/elements/favoriteIcon/favoriteIcon

mixin productHead
	+b.productHead
		+e.box.box
			+e.title Стеклянная награда J42-115 с цветным нанесением, высота 11.5 см
			+b.icon._lg(href='#')
				include /assets/images/basketIcon.svg
			+favoriteIcon._active
