mixin downloadButton(text='Скачать')
	+b.button._lightGray._xl.downloadButton.__downloadButton&attributes(attributes)
		+b.icon._md.__icon
			include /assets/images/downloadIcon.svg
		+e.text #{text}
