+b.catalogHeadMob
	+e.box.box
		+b.icon._sm(href='#')
			include /assets/images/arrowIcon.svg
		+e.title Кубки пластиковые с длинным названием
		+b.button._sm(href='#layer_filters')
			+b.icon._sm
				include /assets/images/filterIcon.svg
