include /include/blocks/catalogItem/catalogItem
include /include/blocks/catalogMobFilter/catalogMobFilter

+b.catalogContentMob
	+e.box.box
		+b.__items(class=`_${catalogView}`)
			+catalogItem
			+catalogItem
			+catalogItem
			+catalogItem
			+catalogItem
			+catalogItem
			+catalogItem
			+catalogItem
		+b.__pagination
			+b.button._gray._xl.__more Загрузить ещё
+catalogMobFilter
