+b.footerMob
	+e.menus
		+e.box._menus.box
			+b.__menu._active
				+b.__title На Олимпе
					+b.icon.__arrow
						include /assets/images/arrowRoundedIcon.svg
				+b.__items
					+e.item(href='#') Наши работы
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') О компании
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Новости
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Контакты
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
			+b.__menu
				+b.__title Интернет магазин
					+b.icon.__arrow
						include /assets/images/arrowRoundedIcon.svg
				+b.__items
					+e.item(href='#') Доставка
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Оплата
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Скидки
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Акции
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Статус заказа
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
			+b.__menu
				+b.__title Справочная информация
					+b.icon.__arrow
						include /assets/images/arrowRoundedIcon.svg
				+b.__items
					+e.item(href='#') Как заказать?
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Каталог товаров
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Обмен и возврат
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Статьи
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Политика безопасности
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
			+b.__menu
				+b.__title Обратная связь
					+b.icon.__arrow
						include /assets/images/arrowRoundedIcon.svg
				+b.__items
					+e.item(href='#') Отзывы
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
					+e.item(href='#') Карта сайта
						+b.icon._th.__arrow
							include /assets/images/arrowIcon.svg
	+e.contacts
		+e.box._contacts.box
			include /include/elements/logo/logo
			+e.phone(href='#') 8 (495) 775-59-52
			+e.email(href='#') info@na-olimpe.ru
			+e.divider
			+b.__address
				+e.main Москва, Верейская
				+e ул., 29, стр. 106
			+b.button._md._white.__routeButton(href='#') Проложить маршрут
			+b.__worktime
				+e.label Режим работы:
				+e пн-пт с 10:00 до 19:00
			+e.divider
			+b.__socialLinks
				+e.item(href='#')
					include /assets/images/vkIcon.svg
				+e.item(href='#')
					include /assets/images/instagramIcon.svg
				+e.item(href='#')
					include /assets/images/instagramIcon.svg
			+e.divider
			+b.__menu
				+e.item(href='#') Портал поставщиков
				+e.item(href='#') Перейти на десктопную версию
				+e.item(href='#') Оставить отзыв
			+e.copyright © На Олимпе, 2021
