extends /desktop/layout/layout
include /desktop/include/sections/profileHead/profileHead
include /desktop/include/blocks/profileMenu/profileMenu
include /include/blocks/profile/orderItem/orderItem

block append pageVars
	- var pageTitle = "Профиль";
	- var pageClass = "profile";
	- var hideTopSubmenu = true;

block content
	+profileHead.__head
	+e.box.box
		+e.left
			+profileMenu
		+e.right
			+b.__orders
				+e.title Сейчас в работе
				+e.list
					+orderItem(true)
					+orderItem(true)
					+orderItem(true)
					+orderItem(true)
					+orderItem(true)
					+orderItem(true)
			+b.__banner(href="#")
				+e.img(src="images/saleBanner.png")
