.catalogGridItem {
    @apply
        relative
        flex
        flex-col
        rounded
        border
        pb-6
        xl:border-transparent
        xl:hover:border-gray-border;

    &__favoriteIcon {
        @apply
            absolute
            z-10
            top-4
            right-2;
    }

    &__labels {
        @apply
            absolute
            z-10
            top-4
            left-2;
    }

    &__catalogItemGallery {
        @apply
        rounded-t
        mb-4;
    }

    &__prop {
        @apply
            overflow-hidden
            px-2
            mb-4;
    }

    &__material {
        @apply
            text-gray-light
            text-xs
            font-medium
            flex
            flex-1
            px-2
            mb-2;
    }

    &__name {
        @apply
            text-black
            text-sm
            line-clamp-2
            px-2
            mb-4;
    }

    &__bottom {
        @apply
            px-2
            flex
            justify-between
            items-center;

        &__prices {
            @apply
            flex
            items-baseline
            flex-wrap
            lg:block;

            &__price {
                @apply
                price
                font-bold
                text-2xl
                mr-2
                lg:mr-0;
            }

            &__oldPrice {
                @apply
                oldPrice
                text-lg
                lg:mt-1;
            }
        }

        &__buyButton {
            @apply
            hidden
            xl:invisible
            lg:flex;
        }

        &__bookButton {
            @apply
            w-full;
        }
    }


    &:hover & {
        &__bottom {
            &__buyButton {
                @apply
                xl:visible;
            }
        }
    }
}
