include /include/elements/size/size
include /include/elements/price/price
include /include/elements/oldPrice/oldPrice
include /include/elements/buyButton/buyButton
include /include/elements/labels/labels
include /include/elements/favoriteIcon/favoriteIcon
include /include/elements/image/image
include /include/elements/dots/dots

mixin catalogGridItem
	+b.catalogGridItem&attributes(attributes)
		+labels
		+favoriteIcon._active
		+image
		+dots
		+size
		+e.material Пластик
		+e.name(href='/product.html') Название товара Название товара Название товара Название товара Название товара
		+e.bottom
			+e.prices
				+price
				+oldPrice
			+buyButton.__buyButton
