extends /mobile/layout/layout
include /include/elements/captcha/captcha
include /include/blocks/common/pageHead/pageHead

block append pageVars
	- var pageTitle = "Восстановление пароля";
	- var pageClass = "forgotPassword";
	- var hideFooter = true;

block content
	+pageHead('Восстановление пароля', false)._noIcons.__head
	.box
		+b.FORM.form
			+e.row
				+b.input._lg
					+e.INPUT.field(type='text', placeholder='E-mail', required)
			+e.row
				+captcha
			+e.row
				+b.input._lg
					+e.INPUT.field(type='password', placeholder='Пароль', required)
			+e.footer
				+b.button._lg._blue(href='forgot-password-message.html') Восстановить
				+b.button._lg._white(href='login.html') Отмена
