mixin quantity
	+b.quantity&attributes(attributes)
		+b.button._xs._blue
			+e.icon
				include /assets/images/sm/minusIcon.svg
		+e.input 2
		+b.button._xs._blue
			+e.icon
				include /assets/images/sm/plusIcon.svg
