mixin consultForm
	+b.consultForm&attributes(attributes)
		+e.title
			+e Не нашли что искали?
			+e Требуется консультация?
		+e.subtitle Закажите обратный звонок. Наш консультант перезвонит в течении часа.
		+b.FORM.__form.form
			+b.__row.form__row
				+b.input._lg
					+e.INPUT.field(type='text', placeholder='Фамилия, имя, отчество', required)
			+b.__row.form__row
				+b.input._lg
					+e.INPUT.field(type='text', placeholder='+7(', required)
			+b.__footer.form__footer
				+b.BUTTON.button._lg._yellow.__button Перезвоните мне
