.productMaterials {
    @apply
        mb-8;

    &__title {
        @apply
            text-850
            font-bold
            mb-3;
    }

    &__items {
        @apply
        flex
        flex-wrap
        -m-2.5;
    }

    &__item {
        @apply border
        border-gray-200
        rounded
        text-blue-900
        text-500
        px-6
        py-3
        m-2.5
        whitespace-nowrap
        hover:border-gray-200
        hover:bg-gray-200
        hover:text-blue-900;
    }
}
