include /desktop/page/product/productUpgrades/productUpgrades
include /include/blocks/product/productEdition/productEdition
include /desktop/page/product/productProperties/productProperties
include /include/blocks/product/productDeliveryInfo/productDeliveryInfo
include /desktop/page/product/productMaterials/productMaterials
include /desktop/include/blocks/productBuy/productBuy
include /include/blocks/product/productDescription/productDescription
include /include/elements/label/label

mixin productContent(shirt=false)
	+b.productContent&attributes(attributes)
		+e.box.box
			+e.left
				+b.tabs
					+b.__buttons.productContent__tabsButtons
						+e.item._active(data-tab='images') Фотографии
						+e.item(data-tab='upgrade') Нанесение и комплект
						+e.item(data-tab='sets') Готовые решения
					+b.__content
						+e.item._active(data-content-tab='images')
							+b.productContent__gallery
								+e.left
									+label._lg._views.__views
										+b.icon
											include /assets/images/md/cameraIcon.svg
										+e 4
									+b.__thumbs.swiper-container
										+b.__wrapper.swiper-wrapper
											+b.__slide.swiper-slide
												+e.img(src='images/3dIcon.png')
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
									+b.icon.__next(href="#")
										include /assets/images/md/shevronIcon.svg
								+e.img(src=(shirt ? 'images/shirt.png' : 'images/product1.png'))
						+e.item(data-content-tab='upgrade')
							+b.productContent__gallery
								+e.img(src=(shirt ? 'images/upgrade-shirt.png' : 'images/upgrade.png'))
						+e.item(data-content-tab='sets')
							+b.productContent__gallery
								+e.left
									+label._lg._views.__views
										+b.icon._sm
											include /assets/images/sm/cameraIcon.svg
										+e 4
									+b.__thumbs.swiper-container
										+b.__wrapper.swiper-wrapper
											+b.__slide.swiper-slide
												+e.img(src='images/3dIcon.png')
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
											+b.__slide.swiper-slide
												+e.img(src=(shirt ? 'images/shirt.png' : 'images/catalogItem.png'))
								+e.img(src=(shirt ? 'images/set-shirt.png' : 'images/set.png'))
				+productUpgrades.__productUpgrades
				+productEdition.__productEdition
				+productProperties.__productProperties
				+productDeliveryInfo.__productDeliveryInfo
				+productMaterials.__productMaterials
				+productDescription
			+e.right
				+productBuy(shirt,shirt)
