include /include/blocks/common/freeDeliveryContent/freeDeliveryContent
include /mobile/include/blocks/catalogItem/grid/catalogGridItem

mixin freeDeliveryPopper
	+b#popper_free_delivery.popper
		+e.overlay
		+e.body
			+e.handler
			+b.icon._lg.__close(href="#")
				include /assets/images/lg/crossIcon.svg
			+b.__content
				+b.__wrapper
					+freeDeliveryContent