mixin catalogItemGallery(shirt=false)
	+b.catalogItemGallery&attributes(attributes)
		+b.__swiper.swiper-container
			+b.__wrapper.swiper-wrapper
				+b.__slide.swiper-slide
					if (shirt)
						+e.img(src='images/shirt.png')
					else
						+e.img(src='images/catalogItem.png')
				+b.__slide.swiper-slide
					if (shirt)
						+e.img(src='images/shirt.png')
					else
						+e.img(src='images/catalogItem.png')
				+b.__slide.swiper-slide
					if (shirt)
						+e.img(src='images/shirt.png')
					else
						+e.img(src='images/catalogItem.png')
			+b.__dots.swiper-dots
		+b.icon._2lg.__3dIcon(href='#')
			include /assets/images/2lg/3dIcon.svg
