include /include/elements/dots/dots

mixin catalogItemGallery
	+b.catalogItemGallery&attributes(attributes)
		+b.__swiper.swiper-container
			+b.__wrapper.swiper-wrapper
				+b.__slide.swiper-slide
					+e.img(src='images/catalogItem.png')
				+b.__slide.swiper-slide
					+e.img(src='images/catalogItem.png')
				+b.__slide.swiper-slide
					+e.img(src='images/catalogItem.png')
			+b.__dots.swiper-dots
