mixin catalogItemGallery(shirt=false, small=false)
	+b.catalogItemGallery&attributes(attributes)
		+b.__swiper.swiper-container
			+b.__wrapper.swiper-wrapper
				+b.__slide.swiper-slide.swiper-lazy(data-background=(shirt ? "images/shirt.png" : "images/catalogItem.png"))
					+b.swiper-lazy-preloader
				+b.__slide.swiper-slide.swiper-lazy(data-background=(shirt ? "images/shirt.png" : "images/catalogItem.png"))
					+b.swiper-lazy-preloader
				+b.__slide.swiper-slide.swiper-lazy(data-background=(shirt ? "images/shirt.png" : "images/catalogItem.png"))
					+b.swiper-lazy-preloader
			+b.__dots.swiper-dots(class=(small ? '_sm' : ''))
		if (small)
			+b.icon._lg.__3dIcon(href='#')
				include /assets/images/2lg/3dIcon.svg
		else
			+b.icon._2lg.__3dIcon(href='#')
				include /assets/images/2lg/3dIcon.svg
