include /include/blocks/common/bestDelivery/bestDelivery

mixin cartTotal(mobile=true)
	+b.cartTotal.fixing&attributes(attributes)
		+b.__freeDelivery
			+b.icon._xl
				include /assets/images/xl/deliveryIcon.svg
			+b.__text
				| Ещё
				+e.price 12 450 ₽
				| и мы доставим товары бесплатно.
				+e.more(href=(mobile ? '#popper_book_order' : '#popup_book_order')) Узнать больше
		+b.__info
			+b.__row
				+e.label Вес заказа:
				+e.value 16 кг
			+b.__row._subtotal
				+e.label Итого, без доставки:
				+e.value 17,780 ₽
			+b.__row._discount
				+e.label Скидка:
				+e.value 149 ₽
		+b.__sum
			+e.label Итого к оплате:
			+e.value 17,631 ₽
		+e.buttons
			+b.button._lg._green(href='order.html')
				+e.text Продолжить оформление
			+b.button._lg._white(href='#popup_fast_order')
				+e.text Быстрая покупка
			+b.button._lg._blue(href=(mobile ? '#popper_gift' : '#popup_gift'))
				+e.text Скачать КП для клиента в PDF
		+bestDelivery.__bestDelivery

