.cartTotal {
    @apply
    p-4
    border
    rounded
    bg-white
    md:p-8
    md:pb-12
    md:mb-auto;

    &__freeDelivery {
        @apply
        text-lg
        flex
        space-x-4
        items-center
        mb-6;

        &__text {
            &__price {
                @apply
                font-medium
                inline
                mx-1;
            }

            &__more {
                @apply
                text-blue
                ml-1;
            }
        }
    }

    &__info {
        @apply
            text-lg
            space-y-2
            pb-4
            mb-4
            border-b
            md:space-y-4;

        &__row {
            @apply
                flex
                justify-between;

            &_subtotal & {
                &__value {
                    @apply
                        font-bold;
                }
            }

            &_discount & {
                &__value {
                    @apply
                    text-green;
                }
            }
        }
    }

    &__sum {
        @apply
        mb-4
        md:flex
        md:justify-between
        md:items-baseline
        md:mb-6;

        &__label {
            @apply
            text-lg
            mb-2;
        }

        &__value {
            @apply
            h2
            md:text-2xl
            md:font-bold;
        }
    }

    &__buttons {
        @apply
        flex
        flex-col
        items-stretch
        space-y-4;
    }

    &__bestDelivery {
        @apply
            mt-4
            hidden
            md:block;
    }
}