extends /mobile/layout/layout
include /include/blocks/common/pageHead/pageHead
include /mobile/page/catalog/catalogHead/catalogHead
include /mobile/page/catalog/catalogContent/catalogContent
include /mobile/page/catalog/catalogSubCategories/catalogSubCategories

block append pageVars
	- var pageTitle = "Избранное";
	- var catalogView = "grid";
	- var pageClass = "catalog";

block content
	+pageHead('Избранное').__head
	+catalogSubCategories.__subCategories
	+catalogContent
