mixin productUpgradeInfoContent
	+b.productUpgradeInfoContent
		+e.title
			+e
				| Шелкография
				br
				| (трафаретная печать)
		+e.text
			+e Печать шелкографией — самая популярная и универсальная технология нанесения изображений на бизнес-подарки и промопродукцию. Этим методом логотип или рекламное сообщение можно нанести почти на любой материал — хлопок, нейлон, полиэстер, пластик, стекло, искусственную кожу, дерево и бумагу.
			+e Шелкографию применяют для печати практически на всех видах промопродукции от футболок, зонтов и сумок до брелков, зажигалок и упаковки.
		+e.media(src='images/productUpgadeInfoMedia.png')
		+b.__examples
			+e.title Примеры
			+b.__swiper.swiper-container
				+b.__wrapper.swiper-wrapper
					+b.__item.swiper-slide(src='images/productUpgradeExample1.png')
					+b.__item.swiper-slide(src='images/productUpgradeExample2.png')
					+b.__item.swiper-slide(src='images/productUpgradeExample1.png')
					+b.__item.swiper-slide(src='images/productUpgradeExample2.png')
					+b.__item.swiper-slide(src='images/productUpgradeExample1.png')
					+b.__item.swiper-slide(src='images/productUpgradeExample2.png')
