include /include/elements/favoriteIcon/favoriteIcon
include /include/blocks/common/pageHead/pageHead

mixin productHead
	+pageHead('Стеклянная награда J42-115 с цветным нанесением, высота 11.5 см', false).productHead&attributes(attributes)
		+e.right
			+b.icon(href='#')
				include /assets/images/md/shareIcon.svg
			+favoriteIcon
