include /include/blocks/catalog/catalogItem/grid/catalogGridItem

mixin productList(title)
	+b.productList&attributes(attributes)
		+e.box.box
			+e.title #{title}
			+e.items
				+e.list
					+catalogGridItem.__item
					+catalogGridItem.__item
					+catalogGridItem.__item
					+catalogGridItem.__item
				+e.prev
					+b.icon
						include /assets/images/arrowIcon.svg
				+e.next
					+b.icon
						include /assets/images/arrowIcon.svg
