include /include/blocks/product/productUpgrades/productUpgrades
include /include/blocks/product/productEdition/productEdition
include /include/blocks/product/productProperties/productProperties
include /include/blocks/product/productDeliveryInfo/productDeliveryInfo
include /include/blocks/product/productMaterials/productMaterials
include /include/blocks/product/productDescription/productDescription
include /include/elements/buyButton/buyButton
include /include/elements/upgradeButton/upgradeButton
include /include/elements/size/size
include /include/elements/label/label

mixin productContent
	+b.productContent
		+e.box.box
			+e.left
				+b.tabs
					+e.item._active Фотографии
					+e.item Нанесение и комплект
					+e.item Готовые решения
				+b.__gallery
					+e.img(src='images/product1.png')
				+productUpgrades.__productUpgrades
				+productEdition.__productEdition
				+productProperties.__productProperties
				+productDeliveryInfo.__productDeliveryInfo
				+productMaterials.__productMaterials
				+productDescription.__productDescription
			+e.right
				+b.__buy
					+e.info
						+e.top
							+label._new.__new Новый
							+e.sku Артикул: 214007
						+e.prices
							+b.__price 365 ₽/
								+e.piece шт
							+e.oldPrice 430 руб
							+e.discount -15%
						+size._lg
						+b.__stock
							+e В наличии:
							+e.value 264 шт.
						+e.buttons
							+upgradeButton._xl.__upgradeButton
							+buyButton('Добавить в корзину')._xl.__buyButton
					+e.count
						+e.editionLink(href='#') Указать колличество
