include /include/elements/label/label

mixin labels
	+b.labels&attributes(attributes)
		+label._views
			+b.icon._th
				include /assets/images/cameraIcon.svg
			+e 4
		+label._new Новый
		+label._discount -15%
