include /include/blocks/catalog/catalogFilters/catalogFilters

mixin productUpgradeInfoLayer
	+b#layer_upgrade_info.layer
		+e.body
			+e.header Описание
				+b.icon.__close
					include /assets/images/crossIcon.svg
			+b.productUpgradeInfoLayer.__content
				+e.title
					+e Шелкография
					+e
						| (трафаретная печать)
				+e.text
					+e Печать шелкографией — самая популярная и универсальная технология нанесения изображений на бизнес-подарки и промопродукцию. Этим методом логотип или рекламное сообщение можно нанести почти на любой материал — хлопок, нейлон, полиэстер, пластик, стекло, искусственную кожу, дерево и бумагу.
					+e Шелкографию применяют для печати практически на всех видах промопродукции от футболок, зонтов и сумок до брелков, зажигалок и упаковки.
				+e.media(src='images/productUpgadeInfoMedia.png')
				+b.__examples
					+e.title Примеры
					+b.swiper-container.__swiper
						+b.swiper-wrapper
							+b.swiper-slide.productUpgradeInfoLayer__examples__item(src='images/productUpgradeExample1.png')
							+b.swiper-slide.productUpgradeInfoLayer__examples__item(src='images/productUpgradeExample2.png')
							+b.swiper-slide.productUpgradeInfoLayer__examples__item(src='images/productUpgradeExample1.png')
							+b.swiper-slide.productUpgradeInfoLayer__examples__item(src='images/productUpgradeExample2.png')
							+b.swiper-slide.productUpgradeInfoLayer__examples__item(src='images/productUpgradeExample1.png')
							+b.swiper-slide.productUpgradeInfoLayer__examples__item(src='images/productUpgradeExample2.png')
