extends /mobile/layout/layout
include /include/blocks/common/pageHead/pageHead
include /include/blocks/common/callback/callback
include /include/elements/bottomButton/bottomButton

block append pageVars
	- var pageTitle = "Поиск по сайту";
	- var pageClass = "search";
	- var hideFooter = true;

block content
	+pageHead('Поиск по сайту', false)._noIcons.__head
	+e.box.box
		+b.input._lg.__search
			+e.icon
				include /assets/images/lg/searchIcon.svg
			+e.INPUT.field(type='text', placeholder='Поиск по каталогу', required)
			+b.button._icon._yellow(href='#popup_filters')
				+e.icon
					include /assets/images/lg/filterIcon.svg
		+b.__help
			+e.title ПОДСКАЗКИ
			+b.__items
				+e.item(href='catalog-grid.html')
					+e Кубки
					+b.icon
						include /assets/images/md/shevronIcon.svg
				+e.item(href='catalog-grid.html')
					+e Кубки
					+b.icon
						include /assets/images/md/shevronIcon.svg
				+e.item(href='catalog-grid.html')
					+e Кубки
					+b.icon
						include /assets/images/md/shevronIcon.svg
				+e.item(href='catalog-grid.html')
					+e Кубки
					+b.icon
						include /assets/images/md/shevronIcon.svg
				+e.item(href='catalog-grid.html')
					+e Кубки
					+b.icon
						include /assets/images/md/shevronIcon.svg
		+callback
	+bottomButton
		+b.button._lg._blue(href='catalog-grid.html') Показать больше
