mixin mapLayer
	+b#layer_map.layer
		+e.body
			+e.header Уточнить на карте
				+b.icon._xl.__close
					include /assets/images/xl/crossIcon.svg
			+b.mapLayer.__content
				+e.IFRAME.map(
					src='https://yandex.ru/map-widget/v1/?um=constructor%3A5df468bdb3401947570015569b5ab6e860003bb4646ee6ccd0207d3a80cb2a1b&amp;source=constructor'
				)
			+bottomButton
				+b.button._lg._blue(href='#') Выбрать
