mixin selectionItem
	+b.selectionItem
		+b.__image
			+e.img(src='images/cap.png')
		+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
		+b.__prices
			+e.price 127 354 ₽
			+e.oldPrice 147 354 ₽
		+b.button.__addButton
			+e.text Добавить
