include /bemto/bemto
include /desktop/include/blocks/freeDeliveryPopup/freeDeliveryPopup
include /desktop/include/blocks/giftPopup/giftPopup
include /desktop/include/blocks/bookOrderPopup/bookOrderPopup
include /include/blocks/common/fastOrderPopup/fastOrderPopup

- set_bemto_settings({ flat_elements: false });

doctype html
html(lang='ru')
	include /include/layout/head/head
body
	include header/header
	include /desktop/layout/topBar/topBar
	include /include/layout/content/content
	include /desktop/layout/footer/footer

	+freeDeliveryPopup
	+fastOrderPopup
	+bookOrderPopup
	+giftPopup

	script(src='js/common.js')
	script(src='js/desktop.js')
