include /include/elements/logo/logo

+b.footer
	+e.box.box
		+b.__contacts
			+logo.__logo
			+e.text!= "Продажа наградной продукции опт и розница<br/>по России"
			+b.__phone
				+b.icon._sm
					include /assets/images/sm/phoneIcon.svg
				+b.__items
					+e.item(href='#') 8 (495) 775-5952
					+e.item(href='#') 8 (495) 775-5952
			+b.__address
				+b.icon._sm
					include /assets/images/sm/homeIcon.svg
				+b.__items
					+e Москва, Верейская ул., 29, стр. 106
					+e Режим работы: пн-пт с 10:00 до 19:00
			+b.__email(href='#')
				+b.icon._sm
					include /assets/images/sm/envelopeIcon.svg
				+e info@na-olimpe.ru
		+b.__menus
			+b.__menu
				+e.item(href='gallery.html') Наши работы
				+e.item(href='about-us.html') О компании
				+e.item(href='news.html') Новости
				+e.item(href='contacts.html') Контакты
			+b.__menu
				+e.item(href='shipping.html') Доставка
				+e.item(href='payment.html') Оплата
				+e.item(href='#') Скидки
				+e.item(href='#') Акции
				+e.item(href='order-status.html') Статус заказа
			+b.__menu
				+e.item(href='#') Как заказать?
				+e.item(href='#') Каталог товаров
				+e.item(href='#') Обмен и возврат
				+e.item(href='#') Статьи
				+e.item(href='#') Политика безопасности
			+b.__menu
				+e.item(href='#') Отзывы
				+e.item(href='#') Карта сайта
		+b.__social
			+b.__links
				+b.icon._2lg(href='#')
					include /assets/images/lg/vkIcon.svg
				+b.icon._2lg(href='#')
					include /assets/images/lg/igIcon.svg
				+b.icon._2lg(href='#')
					include /assets/images/lg/fbIcon.svg
			+e.text Copyright © 2001-2021
			+e.text ООО "НА ОЛИМПЕ"
