include /include/elements/logo/logo

+b.footer
	+b.__menus
		+e.box.box
			+b.__menu
				+b.__title
					+e.name На Олимпе
					+b.icon._xl.__arrow
						include /assets/images/xl/arrowRoundIcon.svg
				+b.__items
					+b.__item(href='gallery.html') Наши работы
					+b.__item(href='about-us.html') О компании
					+b.__item(href='news.html') Новости
					+b.__item(href='contacts.html') Контакты
			+b.__menu
				+b.__title
					+e.name Интернет магазин
					+b.icon._xl.__arrow
						include /assets/images/xl/arrowRoundIcon.svg
				+b.__items
					+b.__item(href='shipping.html') Доставка
					+b.__item(href='payment.html') Оплата
					+b.__item(href='discount.html') Скидки
					+b.__item(href='promo.html') Акции
					+b.__item(href='order-status.html') Статус заказа
			+b.__menu
				+b.__title
					+e.name Справочная информация
					+b.icon._xl.__arrow
						include /assets/images/xl/arrowRoundIcon.svg
				+b.__items
					+b.__item(href='#') Как заказать?
					+b.__item(href='catalog-grid.html') Каталог товаров
					+b.__item(href='#') Обмен и возврат
					+b.__item(href='#') Статьи
					+b.__item(href='#') Политика безопасности
			+b.__menu
				+b.__title
					+e.name Обратная связь
					+b.icon._xl.__arrow
						include /assets/images/xl/arrowRoundIcon.svg
				+b.__items
					+b.__item(href='#') Отзывы
					+b.__item(href='#') Карта сайта
	+b.__contacts
		+e.box.box
			+logo.__logo
			+e.phone(href='#') 8 (495) 775-59-52
			+e.email(href='#') info@na-olimpe.ru
			+b.__address
				+e.main Москва, Верейская
				+e ул., 29, стр. 106
			+b.button.__routeButton(href='#') Проложить маршрут
			+b.__worktime
				+e.label Режим работы:
				+e пн-пт с 10:00 до 19:00
			+b.__socialLinks
				+b.icon._lg.__item(href='#')
					include /assets/images/lg/vkIcon.svg
				+b.icon._lg.__item(href='#')
					include /assets/images/lg/fbIcon.svg
				+b.icon._lg.__item(href='#')
					include /assets/images/lg/igIcon.svg
			+b.__menu
				+e.item(href='#') Портал поставщиков
				+e.item(href='#') Перейти на десктопную версию
				+e.item(href='#') Оставить отзыв
			+e.copyright © На Олимпе, 2021
