include /include/elements/logo/logo

+b.footer
	+b.__menus
		+e.box.box
			+b.__menu
				+b.__title
					+e.name На Олимпе
					+b.icon._xl.__arrow
						include /assets/images/xl/arrowRoundIcon.svg
				+b.__items
					+b.__item(href='gallery.html')
						+e.name Наши работы
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='about-us.html')
						+e.name О компании
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='news.html')
						+e.name Новости
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='contacts.html')
						+e.name Контакты
						+b.icon
							include /assets/images/md/shevronIcon.svg
			+b.__menu
				+b.__title
					+e.name Интернет магазин
					+b.icon._xl.__arrow
						include /assets/images/xl/arrowRoundIcon.svg
				+b.__items
					+b.__item(href='shipping.html')
						+e.name Доставка
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='payment.html')
						+e.name Оплата
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='discount.html')
						+e.name Скидки
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='promo.html')
						+e.name Акции
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='order-status.html')
						+e.name Статус заказа
						+b.icon
							include /assets/images/md/shevronIcon.svg
			+b.__menu
				+b.__title
					+e.name Справочная информация
					+b.icon._xl.__arrow
						include /assets/images/xl/arrowRoundIcon.svg
				+b.__items
					+b.__item(href='#')
						+e.name Как заказать?
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='catalog-grid.html')
						+e.name Каталог товаров
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='#')
						+e.name Обмен и возврат
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='#')
						+e.name Статьи
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='#')
						+e.name Политика безопасности
						+b.icon
							include /assets/images/md/shevronIcon.svg
			+b.__menu
				+b.__title
					+e.name Обратная связь
					+b.icon._xl.__arrow
						include /assets/images/xl/arrowRoundIcon.svg
				+b.__items
					+b.__item(href='#')
						+e.name Отзывы
						+b.icon
							include /assets/images/md/shevronIcon.svg
					+b.__item(href='#')
						+e.name Карта сайта
						+b.icon
							include /assets/images/md/shevronIcon.svg
	+b.__contacts
		+e.box.box
			+logo.__logo
			+e.phone(href='#') 8 (495) 775-59-52
			+e.email(href='#') info@na-olimpe.ru
			+b.__address
				+e.main Москва, Верейская
				+e ул., 29, стр. 106
			+b.button.__routeButton(href='#') Проложить маршрут
			+b.__worktime
				+e.label Режим работы:
				+e пн-пт с 10:00 до 19:00
			+b.__socialLinks
				+b.icon._2lg.__item(href='#')
					include /assets/images/lg/vkIcon.svg
				+b.icon._2lg.__item(href='#')
					include /assets/images/lg/fbIcon.svg
				+b.icon._2lg.__item(href='#')
					include /assets/images/lg/igIcon.svg
			+b.__menu
				+e.item(href='#') Портал поставщиков
				+e.item(href='#') Перейти на десктопную версию
				+e.item(href='#') Оставить отзыв
			+e.copyright © На Олимпе, 2021
