include /include/blocks/common/consultForm/consultForm

mixin catalogBottom
	+b.catalogBottom&attributes(attributes)
		+e.box.box
			+b.textBlock.__textBlock
				+e.text Мы работаем с наградной атрибутикой много лет и в совершенстве отладили технологический процесс. Собственная мастерская со станками последнего поколения и отделы дизайна и персонализации работают единой командой, чтобы сократить сроки производства и обеспечить безупречное качество наград.
				+b.__textList
					+e.title В каталоге магазина большая коллекция призов по видам деятельности:
					+e.items
						+b.__item
							+e.title — Спорт.
							| Спортивные трофеи вручаются победителям состязаний, матчей, первенств. Для остальных участников и гостей соревнований можно купить поощрительную символику. С нами сотрудничают спортивные секции, фитнес-клубы, стадионы. Особые подходы к премированию предусмотрены для турниров по киберспорту.
						+b.__item
							+e.title — Учеба.
							| Наградной атрибутикой отмечаются учебные достижения, победы в олимпиадах и конкурсах. Также памятные знаки вручаются выпускникам детских садов, школ, вузов.
			+e.right
				+consultForm.__consultForm
				+e.banner(src="images/saleBanner.png")
