include /include/elements/size/size
include /include/elements/price/price
include /include/elements/oldPrice/oldPrice
include /include/elements/buyButton/buyButton

mixin catalogItem
	+b.catalogItem
		+b.__labels
			+e.item._views
				+b.icon._sm
					include /assets/images/cameraIcon.svg
				+e 4
			+e.item._new Новый
			+e.item._discount -15%
		+b.icon._fill.__favoriteIcon
			include /assets/images/heartIcon.svg
		+b.__imgBlock
			+e.img(src='images/catalogItem.png')
			+b.__dots
				+e.item._active
				+e.item
				+e.item
		+size
		+e.material Пластик
		+e.name(href='/product.html') Название товара Название товара Название товара Название товара Название товара
		+e.bottom
			+e.prices
				+price
				+oldPrice
			+buyButton.__buyButton
