.dots {
    @apply
    flex
    items-center
    justify-center
    space-x-2;

    &__item {
        @apply
        w-2
        h-2
        bg-gray-500
        rounded-full
        cursor-pointer
        hover:bg-gray-700;

        &_active {
            @apply
            bg-gray-700;
        }
    }

    &_yellow & {
        &__item {
            @apply
            bg-gray-100;

            &_active {
                @apply
                bg-yellow-400;
            }
        }
    }

    &_sm {
        @apply space-x-1;
    }

    &_sm & {
        &__item {
            @apply
            w-1
            h-1;
        }
    }

    &_lg & {
        &__item {
            @apply
            w-2
            h-2
            lg:w-3.5
            lg:h-3.5;
        }
    }
}