extends /desktop/layout/layout
include /desktop/page/order/orderSuccessPopup/orderSuccessPopup
include /include/blocks/common/pageHead/pageHead
include /include/blocks/cart/cartTotal/cartTotal
include /include/blocks/cart/cartDiscount/cartDiscount
include /include/elements/dropArea/dropArea
include /include/elements/logo/logo
include /include/blocks/common/fileList/fileList

block append pageVars
	- var pageTitle = "Оформление заказа";
	- var pageClass = "order";
	- var hideTopSubmenu = true;

block content
	+pageHead('Оформление заказа', false).__head
	+e.box.box
		+e.left
			+b.__step
				+e.title 1. Укажите контактные данные
				+b.FORM.form.__contacts
					+e.row._inline
						+b.LABEL.radio
							+b.__icon
								+e.INPUT.input(type='radio', name='clientTypeId', checked='checked')
								include /assets/images/md/radioIcon.svg
							+e.label Физическое лицо
						+b.LABEL.radio
							+b.__icon
								+e.INPUT.input(type='radio', name='clientTypeId')
								include /assets/images/md/radioIcon.svg
							+e.label Юридическое лицо
					+e.row
						+b.input._short
							+e.INPUT.field(type='text', placeholder='ФИО полностью *', required)
					+e.row
						+b.input._short
							+e.INPUT.field(type='text', placeholder='+7 (9_ _) ___-__-__ *', required)
					+e.row
						+b.input._short
							+e.INPUT.field(type='text', placeholder='Ваша почта', required)
					+e.row
						+b.TEXTAREA.textarea(placeholder='Комментарии к заказу')
					+e.info * Поля обязательные для заполнения
				+b.__upload
					+e.title Загрузка файла (логотип, реквизиты):
					+dropArea.__dropArea
					+e.title Загруженные документы:
					+b.__files
						+fileItem._fileList
						+fileItem._fileList
			+b.__step
				+e.title 2. Выберите способ доставки
				+b.__shipping
					+b.__group
						+e.title Самовывоз
						+b.__items
							+b.__item._active
								+b.__card
									+b.__name
										+e.title Самовывоз из магазина
										+e.desc Стоимость: бесплатно
									+b.LABEL.radio
										+b.__icon
											+e.INPUT.input(type='radio', name='shippingId', checked='true')
											include /assets/images/md/radioIcon.svg
								+b.button._blue._full
									+e.icon
										include /assets/images/lg/targetIcon.svg
									+e.text Выбрать точку самовывоза
					+b.__group
						+e.title Доставка до вашей двери
						+b.__items
							+b.__item
								+b.__card
									+b.__name
										+e.title Курьерская
										+e.desc Бесплатно от 3 000 рублей
									+b.__info
										+e.date Завтра
										+e.price 400 р.
									+b.LABEL.radio
										+b.__icon
											+e.INPUT.input(type='radio', name='shippingId')
											include /assets/images/md/radioIcon.svg
							+b.__item
								+b.__card
									+b.__name
										+e.title Другая транспортная компания
									+b.__info
										+e.date Завтра
										+e.price 400 р.
									+b.LABEL.radio
										+b.__icon
											+e.INPUT.input(type='radio', name='shippingId')
											include /assets/images/md/radioIcon.svg
				+b.__map
					+e.IFRAME.frame(
						src='https://yandex.ru/map-widget/v1/?um=constructor%3A5df468bdb3401947570015569b5ab6e860003bb4646ee6ccd0207d3a80cb2a1b&amp;source=constructor'
					)
				+b.__point
					+logo.__logo
					+b.__text
						+e.address Москва, ул. Верейская улица, 29 с 106
						+e.info Самовывоз: от 0 р. Срок: от 0 дн.
						+e.contacts
							| тел.: 8 (495) 775-59-52
							br
							| пн-пт 10:00-19:00
					+b.button._white(href="#popup_order_success") Забрать отсюда
			+b.__step
				+e.title 3. Выберите способ оплаты
				+b.__payment
					+b.__item._active
						+b.__top
							+e.title Наличные
							+b.LABEL.radio
								+b.__icon
									+e.INPUT.input(type='radio', name='paymentId', checked='checked')
									include /assets/images/md/radioIcon.svg
						+e.desc Оплата производится наличными деньгами. Подтверждением оплаты является фискальный кассовый чек, вручаемый после оплаты.
					+b.__item
						+b.__top
							+e.title Банковский перевод
							+b.LABEL.radio
								+b.__icon
									+e.INPUT.input(type='radio', name='paymentId')
									include /assets/images/md/radioIcon.svg
						+e.desc Вы можете оплатить заказ по счету в Банке. Комиссия банка может составить от 3%. Перечисление денег займет от 1 дня.
					+b.__item
						+b.__top
							+e.title Картой в офисе
							+b.LABEL.radio
								+b.__icon
									+e.INPUT.input(type='radio', name='paymentId')
									include /assets/images/md/radioIcon.svg
						+e.desc Оплата производится банковской картой в нашем офисе.
					+b.__item
						+b.__top
							+e.title Картой онлайн
							+b.LABEL.radio
								+b.__icon
									+e.INPUT.input(type='radio', name='paymentId')
									include /assets/images/md/radioIcon.svg
						+e.desc Оплата производится банковской картой по ссылке, которую высылает менеджер после согласования счета.
		+e.right
			+cartTotal
			+cartDiscount
	+orderSuccessPopup
