mixin productTags
	+b.productTags&attributes(attributes)
		+e.box.box
			+e.title Товар находят по запросам
		+e.box.box._scroll
			+e.items
				+e.item(href='#') Все футболки
				+e.item(href='#') Пластиковые
				+e.item(href='#') Стеклянные
				+e.item(href='#') Спорт товары
				+e.item(href='#') Все футболки
				+e.item(href='#') Пластиковые
				+e.item(href='#') Стеклянные
				+e.item(href='#') Спорт товары
