mixin productTags
	+b.productTags&attributes(attributes)
		.box
			+e.title Товар находят по запросам
			+b.__swiper.swiper-container
				+b.__wrapper.swiper-wrapper
					+b.swiper-slide.__item(href='#') Все футболки
					+b.swiper-slide.__item(href='#') Пластиковые
					+b.swiper-slide.__item(href='#') Стеклянные
					+b.swiper-slide.__item(href='#') Спорт товары
					+b.swiper-slide.__item(href='#') Все футболки
					+b.swiper-slide.__item(href='#') Пластиковые
					+b.swiper-slide.__item(href='#') Стеклянные
					+b.swiper-slide.__item(href='#') Спорт товары
					+b.swiper-slide.__item(href='#') Спорт товары
					+b.swiper-slide.__item(href='#') Спорт товары
					+b.swiper-slide.__item(href='#') Спорт товары
					+b.swiper-slide.__item(href='#') Спорт товары
					+b.swiper-slide.__item(href='#') Спорт товары
					+b.swiper-slide.__item(href='#') Спорт товары
