.orderItem {
    @apply
    py-6
    pl-6
    pr-2
    border
    rounded
    relative
    md:py-8
    md:px-6;

    &:before {
        @apply
            rounded-l
            content-empty
            absolute
            -inset-y-px
            -left-px
            w-1
            bg-green;
    }

    &__card {
        @apply
            flex
            items-center
            space-x-4;

        &__col {
            @apply
                space-y-4
                md:space-y-2;

            &_number {
                @apply
                w-16
                md:w-20;
            }

            &_status {
                @apply
                flex-1;
            }

            &_sum {
                @apply
                w-20;
            }

            &__title {
                @apply
                    text-xs
                    text-gray-light
                    uppercase;
            }

            &__text {
                @apply
                text-sm
                font-bold
                md:text-base;

                &_status {
                    @apply
                    text-green;
                }
            }
        }
    }

    &__swiper {
        @apply
        mt-4
        md:ml-24;

        &:before {
            @apply
            content-empty
            absolute
            z-10
            inset-y-0
            right-0
            w-10
            bg-gradient-to-l from-white;
        }

        &__wrapper {
            &__item {
                @apply
                    w-10
                    h-10
                    object-contain
                    rounded-full
                    border;
            }
        }
    }

    &_gray {
        &:before {
            @apply bg-gray-border;
        }
    }

    &_gray & {
        &__card {
            &__col {
                &__text {
                    &_status {
                        @apply
                        text-gray-border;
                    }
                }
            }
        }
    }

    &_red {
        &:before {
            @apply bg-red;
        }
    }

    &_red & {
        &__card {
            &__col {
                &__text {
                    &_status {
                        @apply
                        text-red;
                    }
                }
            }
        }
    }

    &_blue {
        &:before {
            @apply bg-blue-dark;
        }
    }

    &_blue & {
        &__card {
            &__col {
                &__text {
                    &_status {
                        @apply
                        text-blue-dark;
                    }
                }
            }
        }
    }
}
