.importantInfo {
    @apply
        md:pt-8
        md:pb-10
        md:bg-gray-card;

    &__title {
        @apply
        h2
        mb-4
        md:text-center
        md:h3;
    }

    &__items {
        @apply
        flex justify-between items-stretch
        space-x-2
        md:justify-center
        md:space-x-8;

        &__item {
            @apply
            text-black
            border
            rounded
            flex-1
            overflow-hidden
            md:flex-none;

            &__img {
                @apply
                w-full
                h-20
                object-cover
                md:w-52
                md:h-32;
            }

            &__name {
                @apply
                text-xs
                font-medium
                flex
                items-center
                justify-center
                py-3
                text-center
                md:text-lg
                md:bg-white;
            }
        }
    }
}
