include /include/elements/size/size
include /include/elements/price/price
include /include/elements/oldPrice/oldPrice
include /include/elements/buyButton/buyButton
include /include/elements/labels/labels
include /include/elements/favoriteIcon/favoriteIcon
include /include/blocks/catalog/catalogItemGallery/catalogItemGallery
include /include/elements/dots/dots

mixin setItem
	+b.setItem&attributes(attributes)
		+labels.__labels
		+favoriteIcon._active
		+catalogItemGallery.__catalogItemGallery
		+e.material Металл
		+e.name(href='/product.html') Название товара Название товара Название товара Название товара Название товара
		+e.prices
			+price._lg
			+oldPrice._lg
		+b.button._white.__moreButton
			+e.text.setItem__moreButton__text Подробнее
			+b.icon._th.__icon
				include /assets/images/arrowIcon.svg
