include /include/blocks/common/bookOrderContent/bookOrderContent

mixin bookOrderPopper
	+b#popper_book_order.popper
		+e.overlay
		+e.body
			+e.handler
			+b.icon._lg.__close(href="#")
				include /assets/images/lg/crossIcon.svg
			+b.__content
				+b.__wrapper
					+bookOrderContent