extends /desktop/layout/layout
include /include/sections/cart/cartHead/cartHead
include /desktop/page/cart/cartItems/cartItems
include /include/blocks/cart/cartTotal/cartTotal
include /include/blocks/cart/cartDiscount/cartDiscount
include /include/blocks/cart/deleteCartItemPopup/deleteCartItemPopup

block append pageVars
	- var pageTitle = "Корзина";
	- var pageClass = "cart";
	- var hideTopSubmenu = true;

block content
	+cartHead.__head
	+b.__content
		+e.box.box
			+e.left
				+cartItems
			+e.right
				+cartTotal(false)
				+cartDiscount
	+deleteCartItemPopup