include /include/elements/size/size
include /include/elements/price/price
include /include/elements/oldPrice/oldPrice
include /include/elements/buyButton/buyButton
include /include/elements/labels/labels
include /include/elements/favoriteIcon/favoriteIcon
include /include/blocks/catalog/catalogItemGallery/catalogItemGallery
include /include/elements/dots/dots
include /include/elements/quantity/quantity

mixin catalogTableItem
	+b.catalogTableItem
		+b.__header
			+e.col._img Фото
			+e.col._info Название/Цена
			+e.col._size Размер
		+e.variant
			+b.__img
				+e.wrapper
					+e.image(src='images/catalogItem.png')
			+e.info
				+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
				+e.prices
					+price
					+oldPrice
			+e.size 20.5 см
			+buyButton.__buyButton
		+e.variant
			+b.__img
				+e.wrapper
					+e.image(src='images/catalogItem.png')
			+e.info
				+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
				+e.prices
					+price
					+oldPrice
			+e.size 20.5 см
			+buyButton.__buyButton
