mixin productVariants
	+b.productVariants&attributes(attributes)
		+e.title Измени комплектацию
		+b.__swiper.swiper-container
			+b.__wrapper.swiper-wrapper
				+b.__item._best._active.swiper-slide
					+e.label ЛУЧШИЙ
					+e.title Кубок + табличка + крышка + фигурка + вкладыш
					+b.__prices
						+e.price от 3 249 ₽ / шт
						+e.oldPrice 4 749 ₽ / шт
				+b.__item._standart.swiper-slide
					+e.label СТАНДАРТНЫЙ
					+e.title Кубок + табличка + вкладыш
					+b.__prices
						+e.price от 2 249 ₽ / шт
						+e.oldPrice 2 749 ₽ / шт
				+b.__item._econom.swiper-slide
					+e.label ЭКОНОМНЫЙ
					+e.title Только кубок
					+b.__prices
						+e.price 1 249 ₽ / шт
						+e.oldPrice 2 749 ₽ / шт
