include /include/blocks/catalog/catalogItem/grid/catalogGridItem

mixin deleteCartItemModal
	+b#modal_delete_cart_item.modal
		+e.body._screen
			+b.icon._lg.__close
				include /assets/images/lg/crossIcon.svg
			+b.deleteCartItemModal.__content
				+e.title Удалить товар?
				+catalogGridItem.__item
				+e.buttons
					+b.button._white Отменить
					+b.button._blue Удалить
				+b.__favorite(href='#')
					+favoriteIcon.__favoriteIcon
					+e.text Добавить в избранное
