mixin cartDiscount
	+b.cartDiscount&attributes(attributes)
		+e.title Скидка от суммы заказа:
		+e.items
			+b.__item
				+e.sum более 15 000 руб
				+e.value - 5%
			+b.__item
				+e.sum более 30 000 руб
				+e.value - 10%
			+b.__item
				+e.sum более 50 000 руб
				+e.value - 15%
			+b.__item
				+e.sum более 75 000 руб
				+e.value - 20%
			+b.__item
				+e.sum более 100 000 руб
				+e.value - 25%
			+b.__item
				+e.sum более 200 000 руб
				+e.value - 30%
			+b.__item
				+e.sum более 300 000 руб
				+e.value - 35%
		+e.info * Скидка не распространяется на товары, участвующие в акции.
		+e.link(href='#') Полная информация в разделе "Скидки"
