include /include/blocks/catalog/catalogItem/grid/catalogGridItem

mixin saleList(title)
	+b.saleList&attributes(attributes)
		+e.box.box
			+e.title #{title}
			+e.content
				+b.__swiper.swiper-container
					+b.swiper-wrapper
						+catalogGridItem.swiper-slide
						+catalogGridItem.swiper-slide
						+catalogGridItem.swiper-slide
						+catalogGridItem.swiper-slide
						+catalogGridItem.swiper-slide
						+catalogGridItem.swiper-slide
						+catalogGridItem.swiper-slide
						+catalogGridItem.swiper-slide
					+b.swiper-prev
						include /assets/images/shevronBold.svg
					+b.swiper-next
						include /assets/images/shevronBold.svg
				+b.__banner(href='#')
					+e.img(src='images/saleBanner.png')
