+b.topBar
	+e.box.box
		+b.__menu
			+e.item._active(href='#') Награды
			+e.item(href='#') Подарки
			+e.item(href='#') Сувениры
			+e.item(href='#') Спорт.товары
			+e.item(href='#') Вышивка
		+b.__breadcrumbs
			+b.button._sm._gray(href='/')
				+b.icon._sm
					include /assets/images/homeIcon.svg
			+e.shevron
				include /assets/images/shevronIcon.svg
			+e.item(href='#') Кубки
			+e.shevron
				include /assets/images/shevronIcon.svg
			+e.item(href='#') Металлические кубки
			+e.shevron
				include /assets/images/shevronIcon.svg
			+e.item Кубок B368-3, высота 36 см
