+b.topBar
    +e(class="box").box
        +b.__menu
            +e(href="#").item._active Награды
            +e(href="#").item Подарки
            +e(href="#").item Сувениры
            +e(href="#").item Спорт.товары
            +e(href="#").item Вышивка
        +b.__breadcrumbs
            +b(href="/").button._sm._gray
                +b.icon._sm
                    include /assets/images/homeIcon.svg
            +e.shevron
                include /assets/images/shevronIcon.svg
            +e(href="#").item Кубки
            +e.shevron
                include /assets/images/shevronIcon.svg
            +e(href="#").item Металлические кубки
            +e.shevron
                include /assets/images/shevronIcon.svg
            +e.item Кубок B368-3, высота 36 см
