extends /desktop/layout/layout
include /desktop/include/sections/product/productHead/productHead
include /desktop/include/sections/product/productContent/productContent
include /include/sections/product/productTags/productTags
include /desktop/include/sections/catalog/setList/setList
include /desktop/include/sections/catalog/productList/productList
include /desktop/include/sections/catalog/viewedList/viewedList

block append pageVars
	- var pageTitle = "Продукт";
	- var pageClass = "product";

block content
	+productHead
	+productContent
	+setList('Готовые решения').__setList
	+productList('Посмотрите аналоги').__productList
	+productList('С этим товаром заказывают').__productList
	+productTags.__productTags
	+viewedList('Вы смотрели').__viewedList
