.giftContent {
    @apply
    flex
    flex-col
    items-stretch
    h-full;

    &__title {
        @apply
            h3
            text-center
            text-blue-dark
            mb-8
            md:h2;
    }

    &__list {
        @apply
        flex-1
        h-0
        overflow-scrollVert
        grid grid-cols-2 gap-4
        md:grid-cols-4
        md:pr-4
        md:-mr-5;
    }
}
