include /include/elements/bottomButton/bottomButton

mixin giftContent
	+b.giftContent
		+e.title Выберите подарок!
		+e.list
			+catalogGridItem(true)
			+catalogGridItem(true)
			+catalogGridItem(true)
			+catalogGridItem(true)
			+catalogGridItem(true)
			+catalogGridItem(true)
			+catalogGridItem(true)
			+catalogGridItem(true)
