include /include/elements/dots/dots

mixin mainMenu
	+b.mainMenu
		+e.box.box
			+b.__items
				+e.item._active(href='#') Награды
				+e.item(href='#') Подарки
				+e.item(href='#') Сувениры
				+e.item(href='#') Спорт.товары
				+e.item(href='#') Вышивка
