include /include/blocks/catalog/catalogFilters/catalogFilters

mixin catalogFilterLayer
	+b#layer_filters.layer
		+e.body
			+e.header Фильтр
				+b.icon._xl.__close
					include /assets/images/xl/crossIcon.svg
			+b.catalogFilterLayer.__content
				+b.__view
					+e.label Вид
					+e.items
						+e.item._active(href='catalog-grid.html')
							+b.icon._lg
								include /assets/images/lg/viewGridIcon.svg
						+e.item(href='catalog-list.html')
							+b.icon._lg
								include /assets/images/lg/viewListIcon.svg
						+e.item(href='catalog-table.html')
							+b.icon._lg
								include /assets/images/lg/viewTableIcon.svg
				+b.__sort
					+e.label Сортировка
					+b.__swiper.swiper-container
						+b.__wrapper.swiper-wrapper
							+b.__item._active.swiper-slide(href='catalog-grid.html')
								+e.text Цена
								+b.icon._lg.__icon
									include /assets/images/lg/triangleIcon.svg
							+b.__item.swiper-slide(href='catalog-grid.html')
								+e.text Новизна
								+b.icon._lg.__icon
									include /assets/images/lg/triangleIcon.svg
							+b.__item.swiper-slide(href='catalog-grid.html')
								+e.text Рейтинг
								+b.icon._lg.__icon
									include /assets/images/lg/triangleIcon.svg
				+catalogFilters
