.productEdition {
    &__title {
        @apply
        hidden
        h4
        mb-4
        md:block;
    }

    &__table {
        @apply w-full
        border
        rounded
        p-4
        space-y-4
        md:px-8
        md:py-6;

        &__header {
            @apply flex
            space-x-4
            font-medium;
        }

        &__col {
            &_size {
                @apply w-24;
            }

            &_stock {
                @apply flex-1;
            }

            &_count {
                @apply w-32;
            }
        }

        &__row {
            @apply flex
            items-center
            space-x-4
            pb-4
            border-b
            last:border-0
            last:pb-0;
        }
    }
}