include /include/elements/size/size
include /include/elements/price/price
include /include/elements/oldPrice/oldPrice
include /include/elements/buyButton/buyButton
include /include/elements/labels/labels
include /include/elements/favoriteIcon/favoriteIcon
include /include/elements/image/image
include /include/elements/dots/dots
include /include/elements/quantity/quantity

+b.catalogTableItemMob
	+b.__header
		+e.col._img Фото
		+e.col._info Название
		+e.col._size Размер
		+e.col._material Материал
		+e.col._prices Цена
	+e.variant
		+e.img
			+image
		+e.info
			+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
			+e.sku Артикул: 37692
		+e.size 20.5 см
		+e.material Пластик
		+e.prices
			+price
			+oldPrice
			+b.__stock
				+e.label В наличии:
				+e.value 133 шт.
		+quantity
		+buyButton
	+e.variant
		+e.img
			+image
		+e.info
			+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
			+e.sku Артикул: 37692
		+e.size 20.5 см
		+e.material Пластик
		+e.prices
			+price
			+oldPrice
			+b.__stock
				+e.label В наличии:
				+e.value 133 шт.
		+quantity
		+buyButton
