include /include/elements/size/size
include /include/elements/buyButton/buyButton
include /include/elements/labels/labels
include /include/elements/favoriteIcon/favoriteIcon
include /include/blocks/catalog/catalogItemGallery/catalogItemGallery

mixin catalogListItem
	+b.catalogListItem
		+e.img
			+labels.__labels
			+favoriteIcon._active
			+catalogItemGallery._list.__catalogItemGallery
		+e.info
			+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
			+size.__size
			+b.__props
				+b.__item
					+e.name Материал:
					+e.value Пластиковый
				+b.__item
					+e.name Тип:
					+e.value таблички: 90*40
				+b.__item
					+e.name Высота:
					+e.value 36 см
				+b.__item
					+e.name Диаметр чаши кубка:
					+e.value 14 см
				+b.__item
					+e.name Вес:
					+e.value 1665 гр
		+e.prices
			+e.price 127 354 ₽
			+e.oldPrice 137 354 ₽
			+b.__stock
				+e.label В наличии:
				+e.value 133 шт.
		+buyButton.__buyButton
