include grid/catalogGridItem
include list/catalogListItem
include table/catalogTableItem

mixin catalogItem
	if (catalogView === 'grid')
		+catalogGridItem(false, Math.random() > 0.5)
	else if (catalogView === 'list')
		+catalogListItem(false, Math.random() > 0.5)
	else
		+catalogTableItem(false, Math.random() > 0.5)
