extends /mobile/layout/layout
include /mobile/page/product/productContent/productContent
include /mobile/page/product/productUpgradeInfoPopup/productUpgradeInfoPopup
include /mobile/page/product/productUpgradePlacePopup/productUpgradePlacePopup
include /mobile/page/product/productUpgradeSelectionPopup/productUpgradeSelectionPopup

block append pageVars
    - var pageTitle = "Продукт";
    - var pageClass = "product";
    - var hideHeader = true;
    - var hideFooter = true;

block content
    +b.__swiper.swiper-container
        +b.__wrapper.swiper-wrapper
            +productContent.__item.swiper-slide
            +productContent.__item.swiper-slide
            +productContent.__item.swiper-slide
    +productUpgradeInfoPopup
    +productUpgradeSelectionPopup
    +productUpgradePlacePopup
