extends /mobile/layout/layout
include /mobile/page/product/productContent/productContent

block append pageVars
	- var pageTitle = "Продукт";
	- var pageClass = "product";
	- var hideHeader = true;
	- var hideFooter = true;

block content
	+b.__swiper.swiper-container
		+b.__wrapper.swiper-wrapper
			+productContent(true).__item.swiper-slide
			+productContent(true).__item.swiper-slide
			+productContent(true).__item.swiper-slide
