include /include/blocks/catalog/catalogItemGallery/catalogItemGallery

mixin viewedItem
	+b.viewedItem&attributes(attributes)
		+labels.__labels
		+favoriteIcon.__favoriteIcon
		+catalogItemGallery.__catalogItemGallery
		+e.material Пластик
		+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
