include grid/catalogGridItem
include list/catalogListItem
include table/catalogTableItem

mixin catalogItem
	if (catalogView === 'grid')
		+catalogGridItem
	else if (catalogView === 'list')
		+catalogListItem
	else
		+catalogTableItem
