extends /layout/layout
include /include/sections/catalogHead/catalogHead
include /include/sections/catalogContent/catalogContent
include /include/sections/catalogTopCategories/catalogTopCategories

append pageVars
    - var pageTitle = 'Кубки пластиковые'

block content
    +catalogTopCategories
    +catalogHead
    +catalogContent

