include /include/elements/size/size
include /include/elements/price/price
include /include/elements/oldPrice/oldPrice
include /include/elements/buyButton/buyButton
include /include/elements/labels/labels
include /include/elements/favoriteIcon/favoriteIcon
include /include/blocks/catalog/catalogItemGallery/catalogItemGallery
include /include/elements/dots/dots

mixin viewedItem
	+b.viewedItem&attributes(attributes)
		+catalogItemGallery.__catalogItemGallery
		+e.name(href='/product.html') Название товара Название товара Название товара Название товара Название товара
		+e.prices
			+price._th
			+oldPrice._th
