extends /desktop/layout/layout
include /desktop/include/sections/profileHead/profileHead
include /desktop/include/blocks/profileMenu/profileMenu

block append pageVars
	- var pageTitle = "Изменить пароль";
	- var pageClass = "profileChangePassword";
	- var hideTopSubmenu = true;

block content
	+profileHead.__head
	+e.box.box
		+e.left
			+profileMenu
		+e.right
			+b.__form
				+b.FORM.form
					+e.title Изменить пароль
					+e.row
						+b.input
							+e.INPUT.field(type='password', placeholder='Текущий пароль', required)
					+e.row
						+b.input
							+e.INPUT.field(type='password', placeholder='Новый пароль', required)
					+e.row
						+b.input
							+e.INPUT.field(type='password', placeholder='Повторить пароль', required)
					+e.footer
						+b.button._lg._blue.__button(href='profile-address.html') Обновить пароль
				+b.links._center.__links
					+e.item(href='#') Политика конфиденциальности
			+b.__banner(href="#")
				+e.img(src="images/profileBanner.png")
