extends /mobile/layout/layout
include /include/blocks/common/pageHead/pageHead

block append pageVars
	- var pageTitle = "Контакты";
	- var pageClass = "contacts";

block content
	+pageHead('Контакты').__head
	.box
		+b.__main
			+e.title Основные контакты
			+b.__items
				+b.__item
					+e.label Москва и МО:
					+e.value(href='#') 8 (495) 775-5952
				+b.__item
					+e.label Россия:
					+e.value(href='#') 8 (800) 775-5952
				+b.__item
					+e.label Электронная почта:
					+e.value(href='#') info@na-olimpe.ru
		+b.button._lg._full._gray.__chatButton
			+e.text Напишите сообщение в чате
			+e.icon
				include /assets/images/lg/arrowRight.svg
		+b.__info
			| Наши консультанты на связи
			+e.SPAN.time с 10:00 до 19:00
			| по Москве.
			br
			| Сообщения, оставленные в другое время, будут обработаны на следующий день
		+b.__schema
			+e.title Схема проезда
			+e.address Наш адрес: 121357, Москва, Верейская ул., д. 29, стр. 106
			+e.info На проходной нужно указать название компании: "НА ОЛИМПЕ: кубки, медали, награды".
			+e.text
				+e Проходная на территорию расположена по адресу:
				+e
					| по картам Яндекс - Верейская ул., д.29, стр.139,
					br
					| по картам Google - Верейская ул., д.29, стр.139 1а.
				+e
					| Заезд на парковку с ул.Верейская (на перекрестке Верейской и Рябиновой).
					br
					| Ориентир - вывеска "Паркет из Швеции"
				+e.time режим работы: по будням с 10:00 до 19:00
		+b.__metro
			+b.__item
				+e.title м Славянский бульвар
				+b.__routes
					+b.__item
						+e.time Время проезда: 23 мин.
						+e Автобус № 103, маршрутка № 523м: ост. «Метро Славянский бульвар» - ост. «Верейская ул.» (13 мин.). И 3 мин. пешком до офиса.
					+b.__item
						+e.time Время проезда: 24 мин.
						+e Автобус № 622: ост. «Метро Славянский бульвар» - ост. «Завод КИМ» (20 мин.). И 4 мин. пешком до офиса.
			+b.__item
				+e.title м Кунцевская
				+b.__routes
					+b.__item
						+e.time Время проезда: 18 мин.
						+e Автобусы №№ 610, 612. Маршрутка № 575: ост. «Метро Кунцевская» - ост. «Завод КИМ» (13 мин.). И 5 мин. пешком до офиса.
			+b.__item
				+e.title м Молодежная
				+b.__routes
					+b.__item
						+e.time Время проезда: 20 мин.
						+e Автобус № 732. Маршрутки №№ 556м, 92м: ост. «Метро Молодежная» - ост. «Завод КИМ» (15 мин.). И 5 мин. пешком до офиса.
