.catalogHead {
    @apply
        mt-8;

    &__box {
        @apply
            items-center;
    }

    &__title {
        @apply
        flex-1
        max-w-max
        text-blue-800
        text-4xl
        truncate;
    }

    &__count {
        @apply
        hidden
        text-600
        ml-2
        mr-6
        mt-2
        lg:block;
    }

    &__countTab {
        @apply
        text-700
        ml-2
        mr-6
        mt-1
        lg:hidden;
    }

    &__sort {
        @apply
            w-44
            mr-6
            ml-auto
            lg:w-60;
    }

    &__views {
        @apply
        flex
        space-x-3;

        &__item {
            @apply
            w-8
            h-8
            p-1.5
            bg-white
            border
            rounded;

            &_active {
                @apply
                    bg-blue-800
                    text-white;
            }
        }
    }
}