include /include/blocks/catalog/setItem/setItem

mixin setList(title)
	+b.setList&attributes(attributes)
		+e.box.box
			+e.title #{title}
			+b.swiper-container.__swiper
				+b.swiper-wrapper
					+setItem.swiper-slide.setList__item
					+setItem.swiper-slide.setList__item
					+setItem.swiper-slide.setList__item
					+setItem.swiper-slide.setList__item
					+setItem.swiper-slide.setList__item
					+setItem.swiper-slide.setList__item
