+b.footer
    +e(class="box").box
        +b.__contacts
            +e.logo
                include /assets/images/logo.svg
            +e.text!= 'Продажа наградной продукции опт и розница<br/>по России'
            +b.__phone
                +b.icon
                    include /assets/images/phoneIcon.svg
                +b.__items
                    +e(href="#").item 8 (495) 775-5952
                    +e(href="#").item 8 (495) 775-5952
            +b.__address
                +b.icon
                    include /assets/images/homeIcon.svg
                +b.__items
                    +e Москва, Верейская ул., 29, стр. 106
                    +e Режим работы: пн-пт с 10:00 до 19:00
            +b(href="#").__email
                +b.icon
                    include /assets/images/envelopeIcon.svg
                +e info@na-olimpe.ru
        +b.__menus
            +b.__menu._first
                +e(href="#").item Наши работы
                +e(href="#").item О компании
                +e(href="#").item Новости
                +e(href="#").item Контакты
            +b.__menu._second
                +e(href="#").item Доставка
                +e(href="#").item Оплата
                +e(href="#").item Скидки
                +e(href="#").item Акции
                +e(href="#").item Статус заказа
            +b.__menu._third
                +e(href="#").item Как заказать?
                +e(href="#").item Каталог товаров
                +e(href="#").item Обмен и возврат
                +e(href="#").item Статьи
                +e(href="#").item Политика безопасности
            +b.__menu._fourth
                +e(href="#").item Отзывы
                +e(href="#").item Карта сайта
        +b.__social
            +b.__links
                +e(href="#").item
                    include /assets/images/vkIcon.svg
                +e(href="#").item
                    include /assets/images/instagramIcon.svg
                +e(href="#").item
                    include /assets/images/instagramIcon.svg
            +e.text Copyright © 2001-2021
            +e.text ООО "НА ОЛИМПЕ"