mixin catalogSubCategories
	+b.catalogSubCategories&attributes(attributes)
		.box
			+b.menu._light
				+b.__swiper.catalogSubCategories__swiper.swiper-container
					+b.__wrapper.swiper-wrapper
						+b.__item._active.swiper-slide(href='#') Металические
						+b.__item.swiper-slide(href='#') Пластиковые
						+b.__item.swiper-slide(href='#') Стеклянные
						+b.__item.swiper-slide(href='#') Пластиковые
						+b.__item.swiper-slide(href='#') Стеклянные
						+b.__item.swiper-slide(href='#') Пластиковые
						+b.__item.swiper-slide(href='#') Стеклянные
						+b.__item.swiper-slide(href='#') Пластиковые
						+b.__item.swiper-slide(href='#') Стеклянные
