extends /desktop/layout/layout
include /include/blocks/common/pageHead/pageHead

block append pageVars
	- var pageTitle = "Новости";
	- var pageClass = "news";

block content
	+pageHead('Новости', false).__head
	.box
		+b.menu.__menu
			+b.__swiper.swiper-container
				+b.__wrapper.swiper-wrapper
					+b.__item._active.swiper-slide(href='#') Новости
					+b.__item.swiper-slide(href='#') Акции
					+b.__item.swiper-slide(href='#') Скидки
		+b.__items
			+b.__item
				+e.img(src='images/newItem.png')
				+b.__content
					+e.title Industry
					+e.date 12 августа, 2020
					+e.text Dive into the world of international finance as seen through the eyes of ambitious twentysomethings struggling to secure their futures.
					+e.more(href='new.html') Читать далее
			+b.__item
				+e.img(src='images/newItem.png')
				+b.__content
					+e.title Industry
					+e.date 12 августа, 2020
					+e.text Dive into the world of international finance as seen through the eyes of ambitious twentysomethings struggling to secure their futures.
					+e.more(href='new.html') Читать далее
			+b.__item
				+e.img(src='images/newItem.png')
				+b.__content
					+e.title Industry
					+e.date 12 августа, 2020
					+e.text Dive into the world of international finance as seen through the eyes of ambitious twentysomethings struggling to secure their futures.
					+e.more(href='new.html') Читать далее
			+b.__item
				+e.img(src='images/newItem.png')
				+b.__content
					+e.title Industry
					+e.date 12 августа, 2020
					+e.text Dive into the world of international finance as seen through the eyes of ambitious twentysomethings struggling to secure their futures.
					+e.more(href='new.html') Читать далее
		+e.bottom
			+b.button._lg._full._lightGray(href='#')
				+e.text Показать больше
				+e.icon
					include /assets/images/lg/arrowRight.svg
