include /bemto/bemto

- set_bemto_settings({ flat_elements: false });

doctype html
html(lang='ru')
	include /include/layout/head/head
body
	include header/header
	include /include/layout/topBar/topBar
	include /include/layout/content/content
	include /include/layout/footer/footer

	include /include/layout/modals/login/login
	script(src='js/scripts.js')
