mixin changePasswordPopup
	+b#popup_change_password.popup._layer
		+e.overlay
		+e.body
			+b.icon._xl.__close
				include /assets/images/xl/crossIcon.svg
			+e.header Изменить пароль
			+b.__content
				+b.changePasswordPopup.__wrapper
					+b.FORM.form
						+e.row
							+b.input._lg
								+e.INPUT.field(type='password', placeholder='Текущий пароль', required)
						+e.row
							+b.input._lg
								+e.INPUT.field(type='password', placeholder='Новый пароль', required)
						+e.row
							+b.input._lg
								+e.INPUT.field(type='password', placeholder='Повторить пароль', required)
						+e.footer
							+b.button._lg._blue(href='#') Обновить пароль
