include /include/elements/fileItem/fileItem
include /include/blocks/product/productUpgradeInfoLayer/productUpgradeInfoLayer
include /include/blocks/product/productUpgradeSelectionLayer/productUpgradeSelectionLayer
include /include/blocks/product/productUpgradePlaceLayer/productUpgradePlaceLayer

mixin productUpgrades
	+b.productUpgrades&attributes(attributes)
		+e.title Улучшить
		+b.__list
			+b.__item
				+e.step 1
				+b.icon._sm.__infoIcon(href='#layer_upgrade_info')
					include /assets/images/sm/infoIcon.svg
				+b.__card
					+e.img(src='images/cap.png')
					+b.__label
						+e.name Крышка
						+e.price 249 ₽ / шт
					+b.button._xs.__editButton(href='#layer_upgrade_selection')
						+e.text Изменить
					+b.icon._lg.__deleteIcon
						include /assets/images/lg/crossIcon.svg
			+b.__item
				+e.step 2
				+b.icon._sm.__infoIcon(href='#layer_upgrade_info')
					include /assets/images/sm/infoIcon.svg
				+b.__card
					+e.img(src='images/cupLabel.png')
					+b.__label
						+e.name Эмблема
					+b.button._xs.__addButton(href='#layer_upgrade_selection')
						+e.text Добавить
			+b.__item
				+e.step 3
				+b.icon._sm.__infoIcon(href='#layer_upgrade_info')
					include /assets/images/sm/infoIcon.svg
				+b.__card
					+e.img(src='images/cupFigure.png')
					+b.__label
						+e.name Фигурка
					+b.button._xs.__addButton(href='#layer_upgrade_selection')
						+e.text Добавить
			+b.__item._active
				+e.step 4
				+b.icon._sm.__infoIcon(href='#layer_upgrade_info')
					include /assets/images/sm/infoIcon.svg
				+b.__card
					+e.img(src='images/cupShield.png')
					+b.__label
						+e.name Табличка
						+e.price 249 ₽ / шт
					+b.button._xs.__editButton(href='#layer_upgrade_cup_place')
						+e.text Изменить
					+b.icon._lg.__deleteIcon
						include /assets/images/lg/crossIcon.svg
				+b.__config
					+e.text Лучшему начальнику
					+b.__files
						+fileItem
						+fileItem
			+b.__item
				+e.step 5
				+b.icon._sm.__infoIcon(href='#layer_upgrade_info')
					include /assets/images/sm/infoIcon.svg
				+b.__card
					+b.__label
						+e.name Особые пожелания
					+b.button._xs.__addButton(href='#layer_upgrade_cup_place')
						+e.text Добавить
	+productUpgradeInfoLayer
	+productUpgradeSelectionLayer
	+productUpgradePlaceLayer
