.productUpgrades {
    @apply
    w-full;

    &__title {
        @apply
            hidden
            text-3xl
            font-bold
            mb-8
            md:block;
    }

    &__list {
        @apply
        space-y-4;

        &__item {
            @apply
            border
            rounded
            p-4
            relative
            overflow-hidden
            lg:py-2;

            &__step {
                @apply
                absolute
                hidden
                text-3xl
                text-gray
                -top-2.5
                left-3
                lg:block;
            }

            &__infoIcon {
                @apply
                absolute
                top-2
                left-4
                text-gray
                lg:top-2
                lg:left-40;
            }

            &__card {
                @apply
                min-h-upgrade
                flex
                items-center
                flex-wrap
                space-x-4
                ml-4
                lg:pl-20
                lg:space-x-8;

                &__img {
                    @apply
                    w-16
                    h-16
                    p-2
                    rounded-full
                    border
                    object-contain;
                }

                &__label {
                    @apply
                    flex-1
                    lg:flex
                    lg:items-center
                    lg:justify-between;

                    &__name {
                        @apply
                        font-medium
                        lg:text-gray-900;
                    }

                    &__price {
                        @apply mt-2;
                    }
                }

                &__editButton {
                    @apply
                    px-3
                    button_gradientGray
                    lg:bg-gray-card
                    lg:h-10
                    lg:px-6
                    lg:border-blue-dark;
                }

                &__addButton {
                    @apply
                    px-3
                    button_blue
                    font-medium
                    lg:h-10
                    lg:px-6;
                }

                &__deleteIcon {
                    @apply text-blue-dark cursor-pointer;
                }
            }

            &__config {
                @apply
                pt-4
                mt-6
                border-t
                w-full
                flex
                flex-col
                items-stretch
                space-y-4
                lg:border-0
                lg:pt-1
                lg:mb-4;

                &__text {
                    @apply
                    p-4
                    bg-gray-card
                    border
                    rounded
                    lg:py-3
                    lg:text-gray-900;
                }

                &__files {
                    @apply
                    space-y-4
                    lg:grid
                    lg:grid-cols-2
                    lg:gap-3
                    lg:space-y-0;


                }
            }
        }
    }
}
