include /include/elements/labels/labels
include /include/elements/favoriteIcon/favoriteIcon
include /include/blocks/catalog/catalogItemGallery/catalogItemGallery

mixin productListItem
	+b.productListItem&attributes(attributes)
		+labels.__labels
		+favoriteIcon.__favoriteIcon
		+catalogItemGallery._productList.__catalogItemGallery
		+size.__prop
		+e.material Пластик
		+e.name(href='product.html') Название товара Название товара Название товара Название товара Название товара
		+b.__prices
			+e.price 127 354 ₽
			+e.oldPrice 147 354 ₽
