mixin size
	+b.size&attributes(attributes)
		+b.__swiper.swiper-container
			+b.__wrapper.swiper-wrapper
				+b.__item._active.swiper-slide 22 см
				+b.__item.swiper-slide 23 см
				+b.__item.swiper-slide 23 см
				+b.__item.swiper-slide 23 см
				+b.__item.swiper-slide 23 см
				+b.__item.swiper-slide 34 см
				+b.__item.swiper-slide 23 см
				+b.__item.swiper-slide 23 см
				+b.__item.swiper-slide 23 см
				+b.__item.swiper-slide 23 см
