mixin size
	+b.size&attributes(attributes)
		+b.__swiper.swiper-container
			+b.__wrapper.swiper-wrapper
				+b.swiper-slide.__item 22 см
				+b.swiper-slide.__item 23 см
				+b.swiper-slide.__item 23 см
				+b.swiper-slide.__item 23 см
				+b.swiper-slide.__item 23 см
				+b.swiper-slide.__item._active 34 см
				+b.swiper-slide.__item 23 см
				+b.swiper-slide.__item 23 см
				+b.swiper-slide.__item 23 см
				+b.swiper-slide.__item 23 см
