mixin chooseCityPopup
	+b#popup_choose_city.popup
		+e.overlay
		+e.body._xl
			+b.icon.__close(href="#")
				include /assets/images/md/crossIcon.svg
			+b.chooseCityPopup.popup__content
				+b.__wrapper.popup__content__wrapper
					+b.__cols
						+e.col
							+b.__group._popular
								+e.item(href='#') Все города
								+e.item(href='#') Москва и МО
								+e.item(href='#') Санкт-Петербург и ЛО
							+b.__group
								+e.label А
								+e.item(href='#') Алтайский край
								+e.item(href='#') Архангельская область
								+e.item(href='#') Астраханская область
							+b.__group
								+e.label Б
								+e.item(href='#') Белгородская область
								+e.item(href='#') Брянская область
								+e.item(href='#') Астраханская область
							+b.__group
								+e.label В
								+e.item(href='#') Владимирская область
								+e.item(href='#') Волгоградская область
								+e.item(href='#') Вологодская область
								+e.item(href='#') Воронежская область
							+b.__group
								+e.label З
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
								+e.item(href='#') Забайкальский край
						+e.col
							+b.__group
								+e.label А
								+e.item(href='#') Абаза
								+e.item(href='#') Абакан
								+e.item(href='#') Абинск
								+e.item(href='#') Агрыз
								+e.item(href='#') Азов
								+e.item(href='#') Алатырь
								+e.item(href='#') Алейск
								+e.item(href='#') Александров
								+e.item(href='#') Алексеевка
								+e.item(href='#') Альметьевск
								+e.item(href='#') Анапа
								+e.item(href='#') Ангарск
								+e.item(href='#') Анжеро-Судженск
					+b.__search
						+b.input.__input
							+b.__icon
								include /assets/images/lg/searchIcon.svg
							+e.INPUT.field(type='text', placeholder='Поиск города', required)
						+e.text От выбранного города зависят наличие товара, цены и способ получения заказа, а так же тип центров исполнения заказов – кибермаркеты и аутпосты
