include /include/blocks/catalog/selectionItem/selectionItem

mixin productUpgradeSelectionLayer
	+b#layer_upgrade_selection.layer
		+e.body
			+e.header Добавить крышку
				+b.icon.__close
					include /assets/images/crossIcon.svg
			+b.productUpgradeSelectionLayer.__content
				+b.input._lg.__search
					+b.icon.__icon
						include /assets/images/searchIcon.svg
					+e.INPUT.field(type='text', placeholder='Поиск')
				+b.slider
					+b.__labels
						+e.item._start 100
						+e.item._end 2700
					+b.__track
						+e.handler._start
						+e.handler._end
						+e.bar
				+b.__categories
					+b.swiper-container.__swiper
						+b.swiper-wrapper
							+b.swiper-slide.productUpgradeSelectionLayer__categories__item(href='#') Металические
							+b.swiper-slide.productUpgradeSelectionLayer__categories__item(href='#') Пластиковые
							+b.swiper-slide.productUpgradeSelectionLayer__categories__item(href='#') Стеклянные
							+b.swiper-slide.productUpgradeSelectionLayer__categories__item(href='#') Пластиковые
							+b.swiper-slide.productUpgradeSelectionLayer__categories__item(href='#') Стеклянные
							+b.swiper-slide.productUpgradeSelectionLayer__categories__item(href='#') Пластиковые
							+b.swiper-slide.productUpgradeSelectionLayer__categories__item(href='#') Стеклянные
							+b.swiper-slide.productUpgradeSelectionLayer__categories__item(href='#') Пластиковые
							+b.swiper-slide.productUpgradeSelectionLayer__categories__item(href='#') Стеклянные
				+b.__items
					+e.__content
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
