include /include/blocks/catalog/selectionItem/selectionItem

mixin productUpgradeSelectionLayer
	+b#layer_upgrade_selection.layer
		+e.body
			+e.header Добавить крышку
				+b.icon._xl.__close
					include /assets/images/xl/crossIcon.svg
			+b.productUpgradeSelectionLayer.__content
				+b.input.__search
					+e.icon
						include /assets/images/lg/searchIcon.svg
					+e.INPUT.field(type='text', placeholder='Поиск')
				+b.slider.__slider
					+b.__labels
						+e.item._start 100
						+e.item._end 2700
					+b.__track
						+e.handler._start
						+e.handler._end
						+e.bar
				+b.menu.__categories
					+b.__swiper.swiper-container
						+b.__wrapper.swiper-wrapper
							+b.__item._active.swiper-slide(href='#') Металические
							+b.__item.swiper-slide(href='#') Пластиковые
							+b.__item.swiper-slide(href='#') Стеклянные
							+b.__item.swiper-slide(href='#') Пластиковые
							+b.__item.swiper-slide(href='#') Стеклянные
							+b.__item.swiper-slide(href='#') Пластиковые
							+b.__item.swiper-slide(href='#') Стеклянные
							+b.__item.swiper-slide(href='#') Пластиковые
							+b.__item.swiper-slide(href='#') Стеклянные
				+b.__items
					+e.content
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
						+selectionItem
