include /bemto/bemto

- set_bemto_settings({ flat_elements: false });

block pageVars
	- var view = "mobile";

doctype html
html(lang='en')
	include head/head
body
	include header/header
	if (view !== 'mobile')
		include topBar/topBar
	include content/content
	include footer/footer
